.choose-headline {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.choose-headline--bt {
  border-top: 1px solid #efefef;
}
.choose-headline p {
  margin-bottom: 0;
}
@media (min-width: 992px) {
  .choose-headline {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
}
@media (min-width: 768px) {
  .choose-headline {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}

.choose-header.bg-dark,
.choose-header .bg-dark,
.choose-demos.bg-dark,
.choose-demos .bg-dark {
  background-color: #2a2a2a !important;
}
@media (min-width: 576px) {
  .choose-header .container,
  .choose-demos .container {
    max-width: 540px !important;
  }
}
@media (min-width: 768px) {
  .choose-header .container,
  .choose-demos .container {
    max-width: 720px !important;
  }
}
@media (min-width: 992px) {
  .choose-header .container,
  .choose-demos .container {
    max-width: 960px !important;
  }
}
@media (min-width: 1200px) {
  .choose-header .container,
  .choose-demos .container {
    max-width: 1340px !important;
  }
}

.choose-header {
  background-color: #2a2a2a;
  background-image: url("data:image/svg+xml,%3Csvg width='64' height='64' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8 16c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8zm0-2c3.314 0 6-2.686 6-6s-2.686-6-6-6-6 2.686-6 6 2.686 6 6 6zm33.414-6l5.95-5.95L45.95.636 40 6.586 34.05.636 32.636 2.05 38.586 8l-5.95 5.95 1.414 1.414L40 9.414l5.95 5.95 1.414-1.414L41.414 8zM40 48c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8zm0-2c3.314 0 6-2.686 6-6s-2.686-6-6-6-6 2.686-6 6 2.686 6 6 6zM9.414 40l5.95-5.95-1.414-1.414L8 38.586l-5.95-5.95L.636 34.05 6.586 40l-5.95 5.95 1.414 1.414L8 41.414l5.95 5.95 1.414-1.414L9.414 40z' fill='%23ffffff' fill-opacity='0.04' fill-rule='evenodd'/%3E%3C/svg%3E");
}
.choose-header--shadow {
  box-shadow: 0 2px 10px rgba(53, 53, 53, 0.3);
}
.choose-header .navbar {
  padding: 1.5rem 1rem;
  height: auto;
}
.choose-header .navbar small {
  font-size: 0.9rem;
  color: rgba(255, 255, 255, 0.8);
}
@media (max-width: 767.98px) {
  .choose-header .navbar-brand-container {
    max-width: 80%;
  }
  .choose-header .btn {
    display: block;
    margin-bottom: 10px;
  }
}
@media (max-width: 991.98px) {
  .choose-header h1 {
    font-size: 1.5rem;
    font-weight: bold;
  }
}
.choose-header h1.h2 {
  margin-bottom: 10px !important;
}
.choose-header p {
  margin-bottom: 25px;
  color: rgba(255, 255, 255, 0.8);
}
.choose-header h1,
.choose-header p {
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}
@media (min-width: 768px) {
  .choose-header .btn + .btn {
    margin-left: 10px;
  }
}
@media (min-width: 992px) {
  .choose-header .img-fluid {
    position: relative;
  }
}

.choose-demos {
  padding-bottom: 2rem;
  padding-top: 1rem;
}
.choose-demos .card,
.choose-demos .card-footer {
  background: none !important;
}
.choose-demos figure {
  position: relative;
  overflow: hidden;
  z-index: 0;
}
.choose-demos figcaption {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #42434f;
  transition: all 0.2s ease-in-out;
  opacity: 0;
}
.choose-demos figure:hover figcaption {
  opacity: 1;
}

.banner {
  padding-top: 30px;
}

img.banner--image {
  max-width: 80%;
}
