/*
 * The MIT License
 * Copyright (c) 2012 Matias Meno <m@tias.me>
 */
@-webkit-keyframes passing-through {
  0% {
    opacity: 0;
    transform: translateY(40px);
  }
  30%,
  70% {
    opacity: 1;
    transform: translateY(0px);
  }
  100% {
    opacity: 0;
    transform: translateY(-40px);
  }
}
@keyframes passing-through {
  0% {
    opacity: 0;
    transform: translateY(40px);
  }
  30%,
  70% {
    opacity: 1;
    transform: translateY(0px);
  }
  100% {
    opacity: 0;
    transform: translateY(-40px);
  }
}
@-webkit-keyframes slide-in {
  0% {
    opacity: 0;
    transform: translateY(40px);
  }
  30% {
    opacity: 1;
    transform: translateY(0px);
  }
}
@keyframes slide-in {
  0% {
    opacity: 0;
    transform: translateY(40px);
  }
  30% {
    opacity: 1;
    transform: translateY(0px);
  }
}
@-webkit-keyframes pulse {
  0% {
    transform: scale(1);
  }
  10% {
    transform: scale(1.1);
  }
  20% {
    transform: scale(1);
  }
}
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  10% {
    transform: scale(1.1);
  }
  20% {
    transform: scale(1);
  }
}
[dir="ltr"] .dropzone {
  position: relative;
  display: flex;
  flex-direction: column;
}

[dir="ltr"] .dropzone.dz-clickable {
  cursor: pointer;
}

[dir="ltr"] .dropzone.dz-clickable * {
  cursor: default;
}

[dir="ltr"] .dropzone.dz-clickable .dz-message,
[dir="ltr"] .dropzone.dz-clickable .dz-message * {
  cursor: pointer;
}

[dir="ltr"] .dropzone.dz-started .dz-message {
  display: none;
}

[dir="ltr"] .dropzone.dz-drag-hover {
  border-style: solid;
}

[dir="ltr"] .dropzone.dz-drag-hover .dz-message {
  opacity: 0.5;
}

[dir="ltr"] .dropzone .dz-message {
  text-align: center;
  padding: 2rem 1rem;
  color: #95aac9;
  border: 1px dashed #efefef;
  border-radius: 0.25rem;
  background-color: white;
  order: -1;
}

[dir="ltr"] .dropzone .dz-preview:hover {
  z-index: 1000;
}

[dir="ltr"] .dropzone .dz-preview:hover .dz-details {
  opacity: 1;
}

[dir="ltr"] .dropzone .dz-preview.dz-file-preview .dz-image {
  border-radius: 20px;
  background: #999;
  background: linear-gradient(to bottom, #eee, #ddd);
}

[dir="ltr"] .dropzone .dz-preview.dz-file-preview .dz-details {
  opacity: 1;
}

[dir="ltr"] .dropzone .dz-preview.dz-image-preview {
  background: white;
}

[dir="ltr"] .dropzone .dz-preview.dz-image-preview .dz-details {
  transition: opacity 0.2s linear;
}

[dir="ltr"] .dropzone .dz-preview .dz-remove {
  font-size: 14px;
  text-align: center;
  display: block;
  cursor: pointer;
  border: none;
}

[dir="ltr"] .dropzone .dz-preview .dz-remove:hover {
  text-decoration: underline;
}

[dir="ltr"] .dropzone .dz-preview:hover .dz-details {
  opacity: 1;
}

[dir="ltr"] .dropzone .dz-preview .dz-details {
  z-index: 20;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  font-size: 13px;
  min-width: 100%;
  max-width: 100%;
  padding: 2em 1em;
  text-align: center;
  color: rgba(0, 0, 0, 0.9);
  line-height: 150%;
}

[dir="ltr"] .dropzone .dz-preview .dz-details .dz-size {
  margin-bottom: 1em;
  font-size: 16px;
}

[dir="ltr"] .dropzone .dz-preview .dz-details .dz-filename {
  white-space: nowrap;
}

[dir="ltr"] .dropzone .dz-preview .dz-details .dz-filename:hover span {
  border: 1px solid rgba(200, 200, 200, 0.8);
  background-color: rgba(255, 255, 255, 0.8);
}

[dir="ltr"] .dropzone .dz-preview .dz-details .dz-filename:not(:hover) {
  overflow: hidden;
  text-overflow: ellipsis;
}

[dir="ltr"] .dropzone .dz-preview .dz-details .dz-filename:not(:hover) span {
  border: 1px solid transparent;
}

[dir="ltr"] .dropzone .dz-preview .dz-details .dz-filename span,
[dir="ltr"] .dropzone .dz-preview .dz-details .dz-size span {
  background-color: rgba(255, 255, 255, 0.4);
  padding: 0 0.4em;
  border-radius: 3px;
}

[dir="ltr"] .dropzone .dz-preview:hover .dz-image img {
  transform: scale(1.05, 1.05);
  -webkit-filter: blur(8px);
  filter: blur(8px);
}

[dir="ltr"] .dropzone .dz-preview .dz-image {
  border-radius: 20px;
  overflow: hidden;
  width: 120px;
  height: 120px;
  position: relative;
  display: block;
  z-index: 10;
}

[dir="ltr"] .dropzone .dz-preview .dz-image img {
  display: block;
}

[dir="ltr"] .dropzone .dz-preview.dz-success .dz-success-mark {
  -webkit-animation: passing-through 3s cubic-bezier(0.77, 0, 0.175, 1);
  animation: passing-through 3s cubic-bezier(0.77, 0, 0.175, 1);
}

[dir="ltr"] .dropzone .dz-preview.dz-error .dz-error-mark {
  opacity: 1;
  -webkit-animation: slide-in 3s cubic-bezier(0.77, 0, 0.175, 1);
  animation: slide-in 3s cubic-bezier(0.77, 0, 0.175, 1);
}

[dir="ltr"] .dropzone .dz-preview .dz-success-mark,
[dir="ltr"] .dropzone .dz-preview .dz-error-mark {
  pointer-events: none;
  opacity: 0;
  z-index: 500;
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  margin-left: -27px;
  margin-top: -27px;
}

[dir="ltr"] .dropzone .dz-preview .dz-success-mark svg,
[dir="ltr"] .dropzone .dz-preview .dz-error-mark svg {
  display: block;
  width: 54px;
  height: 54px;
}

[dir="ltr"] .dropzone .dz-preview.dz-processing .dz-progress {
  opacity: 1;
  transition: all 0.2s linear;
}

[dir="ltr"] .dropzone .dz-preview.dz-complete .dz-progress {
  opacity: 0;
  transition: opacity 0.4s ease-in;
}

[dir="ltr"] .dropzone .dz-preview:not(.dz-processing) .dz-progress {
  -webkit-animation: pulse 6s ease infinite;
  animation: pulse 6s ease infinite;
}

[dir="ltr"] .dropzone .dz-preview .dz-progress {
  opacity: 1;
  z-index: 1000;
  pointer-events: none;
  position: absolute;
  height: 16px;
  left: 50%;
  top: 50%;
  margin-top: -8px;
  width: 80px;
  margin-left: -40px;
  background: rgba(255, 255, 255, 0.9);
  -webkit-transform: scale(1);
  border-radius: 8px;
  overflow: hidden;
}

[dir="ltr"] .dropzone .dz-preview .dz-progress .dz-upload {
  background: #333;
  background: linear-gradient(to bottom, #666, #444);
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 0;
  transition: width 300ms ease-in-out;
}

[dir="ltr"] .dropzone .dz-preview.dz-error .dz-error-message {
  display: block;
}

[dir="ltr"] .dropzone .dz-preview.dz-error:hover .dz-error-message {
  opacity: 1;
  pointer-events: auto;
}

[dir="ltr"] .dropzone .dz-preview .dz-error-message {
  pointer-events: none;
  z-index: 1000;
  position: absolute;
  display: block;
  display: none;
  opacity: 0;
  transition: opacity 0.3s ease;
  border-radius: 8px;
  font-size: 13px;
  top: 130px;
  left: -10px;
  width: 140px;
  background: #be2626;
  background: linear-gradient(to bottom, #be2626, #a92222);
  padding: 0.5em 1.2em;
  color: white;
}

[dir="ltr"] .dropzone .dz-preview .dz-error-message:after {
  content: "";
  position: absolute;
  top: -6px;
  left: 64px;
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #be2626;
}
