@charset "UTF-8";
/*!
 * Font Awesome Free 5.12.1 by @fontawesome - https://fontawesome.com
 * License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License)
 */
[dir="rtl"] .fa,
[dir="rtl"] .fas,
[dir="rtl"] .far,
[dir="rtl"] .fal,
[dir="rtl"] .fad,
[dir="rtl"] .fab {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
}

[dir="rtl"] .fa-lg {
  font-size: 1.3333333333em;
  line-height: 0.75em;
  vertical-align: -0.0667em;
}

[dir="rtl"] .fa-xs {
  font-size: 0.75em;
}

[dir="rtl"] .fa-sm {
  font-size: 0.875em;
}

[dir="rtl"] .fa-1x {
  font-size: 1em;
}

[dir="rtl"] .fa-2x {
  font-size: 2em;
}

[dir="rtl"] .fa-3x {
  font-size: 3em;
}

[dir="rtl"] .fa-4x {
  font-size: 4em;
}

[dir="rtl"] .fa-5x {
  font-size: 5em;
}

[dir="rtl"] .fa-6x {
  font-size: 6em;
}

[dir="rtl"] .fa-7x {
  font-size: 7em;
}

[dir="rtl"] .fa-8x {
  font-size: 8em;
}

[dir="rtl"] .fa-9x {
  font-size: 9em;
}

[dir="rtl"] .fa-10x {
  font-size: 10em;
}

[dir="rtl"] .fa-fw {
  text-align: center;
  width: 1.25em;
}

[dir="rtl"] .fa-ul {
  list-style-type: none;
  margin-right: 2.5em;
  padding-right: 0;
}
[dir="rtl"] .fa-ul > li {
  position: relative;
}

[dir="rtl"] .fa-li {
  right: -2em;
  position: absolute;
  text-align: center;
  width: 2em;
  line-height: inherit;
}

[dir="rtl"] .fa-border {
  border: solid 0.08em #eee;
  border-radius: 0.1em;
  padding: 0.2em 0.25em 0.15em;
}

[dir="rtl"] .fa-pull-left {
  float: right;
}

[dir="rtl"] .fa-pull-right {
  float: left;
}

[dir="rtl"] .fa.fa-pull-left,
[dir="rtl"] .fas.fa-pull-left,
[dir="rtl"] .far.fa-pull-left,
[dir="rtl"] .fal.fa-pull-left,
[dir="rtl"] .fab.fa-pull-left {
  margin-left: 0.3em;
}
[dir="rtl"] .fa.fa-pull-right,
[dir="rtl"] .fas.fa-pull-right,
[dir="rtl"] .far.fa-pull-right,
[dir="rtl"] .fal.fa-pull-right,
[dir="rtl"] .fab.fa-pull-right {
  margin-right: 0.3em;
}

[dir="rtl"] .fa-spin {
  -webkit-animation: fa-spin 2s infinite linear;
  animation: fa-spin 2s infinite linear;
}

[dir="rtl"] .fa-pulse {
  -webkit-animation: fa-spin 1s infinite steps(8);
  animation: fa-spin 1s infinite steps(8);
}

@-webkit-keyframes fa-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

@keyframes fa-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
[dir="rtl"] .fa-rotate-90 {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=1)";
  transform: rotate(-90deg);
}

[dir="rtl"] .fa-rotate-180 {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=2)";
  transform: rotate(-180deg);
}

[dir="rtl"] .fa-rotate-270 {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=3)";
  transform: rotate(-270deg);
}

[dir="rtl"] .fa-flip-horizontal {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=0, mirror=1)";
  transform: scale(-1, 1);
}

[dir="rtl"] .fa-flip-vertical {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=2, mirror=1)";
  transform: scale(1, -1);
}

[dir="rtl"] .fa-flip-both,
[dir="rtl"] .fa-flip-horizontal.fa-flip-vertical {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=2, mirror=1)";
  transform: scale(-1, -1);
}

[dir="rtl"] :root .fa-rotate-90,
[dir="rtl"] :root .fa-rotate-180,
[dir="rtl"] :root .fa-rotate-270,
[dir="rtl"] :root .fa-flip-horizontal,
[dir="rtl"] :root .fa-flip-vertical,
[dir="rtl"] :root .fa-flip-both {
  -webkit-filter: none;
  filter: none;
}

[dir="rtl"] .fa-stack {
  display: inline-block;
  height: 2em;
  line-height: 2em;
  position: relative;
  vertical-align: middle;
  width: 2.5em;
}

[dir="rtl"] .fa-stack-1x,
[dir="rtl"] .fa-stack-2x {
  right: 0;
  position: absolute;
  text-align: center;
  width: 100%;
}

[dir="rtl"] .fa-stack-1x {
  line-height: inherit;
}

[dir="rtl"] .fa-stack-2x {
  font-size: 2em;
}

[dir="rtl"] .fa-inverse {
  color: #fff;
}

/* Font Awesome uses the Unicode Private Use Area (PUA) to ensure screen
readers do not read off random characters that represent icons */
[dir="rtl"] .fa-500px:before {
  content: "\F26E";
}

[dir="rtl"] .fa-accessible-icon:before {
  content: "\F368";
}

[dir="rtl"] .fa-accusoft:before {
  content: "\F369";
}

[dir="rtl"] .fa-acquisitions-incorporated:before {
  content: "\F6AF";
}

[dir="rtl"] .fa-ad:before {
  content: "\F641";
}

[dir="rtl"] .fa-address-book:before {
  content: "\F2B9";
}

[dir="rtl"] .fa-address-card:before {
  content: "\F2BB";
}

[dir="rtl"] .fa-adjust:before {
  content: "\F042";
}

[dir="rtl"] .fa-adn:before {
  content: "\F170";
}

[dir="rtl"] .fa-adobe:before {
  content: "\F778";
}

[dir="rtl"] .fa-adversal:before {
  content: "\F36A";
}

[dir="rtl"] .fa-affiliatetheme:before {
  content: "\F36B";
}

[dir="rtl"] .fa-air-freshener:before {
  content: "\F5D0";
}

[dir="rtl"] .fa-airbnb:before {
  content: "\F834";
}

[dir="rtl"] .fa-algolia:before {
  content: "\F36C";
}

[dir="rtl"] .fa-align-center:before {
  content: "\F037";
}

[dir="rtl"] .fa-align-justify:before {
  content: "\F039";
}

[dir="rtl"] .fa-align-left:before {
  content: "\F036";
}

[dir="rtl"] .fa-align-right:before {
  content: "\F038";
}

[dir="rtl"] .fa-alipay:before {
  content: "\F642";
}

[dir="rtl"] .fa-allergies:before {
  content: "\F461";
}

[dir="rtl"] .fa-amazon:before {
  content: "\F270";
}

[dir="rtl"] .fa-amazon-pay:before {
  content: "\F42C";
}

[dir="rtl"] .fa-ambulance:before {
  content: "\F0F9";
}

[dir="rtl"] .fa-american-sign-language-interpreting:before {
  content: "\F2A3";
}

[dir="rtl"] .fa-amilia:before {
  content: "\F36D";
}

[dir="rtl"] .fa-anchor:before {
  content: "\F13D";
}

[dir="rtl"] .fa-android:before {
  content: "\F17B";
}

[dir="rtl"] .fa-angellist:before {
  content: "\F209";
}

[dir="rtl"] .fa-angle-double-down:before {
  content: "\F103";
}

[dir="rtl"] .fa-angle-double-left:before {
  content: "\F100";
}

[dir="rtl"] .fa-angle-double-right:before {
  content: "\F101";
}

[dir="rtl"] .fa-angle-double-up:before {
  content: "\F102";
}

[dir="rtl"] .fa-angle-down:before {
  content: "\F107";
}

[dir="rtl"] .fa-angle-left:before {
  content: "\F104";
}

[dir="rtl"] .fa-angle-right:before {
  content: "\F105";
}

[dir="rtl"] .fa-angle-up:before {
  content: "\F106";
}

[dir="rtl"] .fa-angry:before {
  content: "\F556";
}

[dir="rtl"] .fa-angrycreative:before {
  content: "\F36E";
}

[dir="rtl"] .fa-angular:before {
  content: "\F420";
}

[dir="rtl"] .fa-ankh:before {
  content: "\F644";
}

[dir="rtl"] .fa-app-store:before {
  content: "\F36F";
}

[dir="rtl"] .fa-app-store-ios:before {
  content: "\F370";
}

[dir="rtl"] .fa-apper:before {
  content: "\F371";
}

[dir="rtl"] .fa-apple:before {
  content: "\F179";
}

[dir="rtl"] .fa-apple-alt:before {
  content: "\F5D1";
}

[dir="rtl"] .fa-apple-pay:before {
  content: "\F415";
}

[dir="rtl"] .fa-archive:before {
  content: "\F187";
}

[dir="rtl"] .fa-archway:before {
  content: "\F557";
}

[dir="rtl"] .fa-arrow-alt-circle-down:before {
  content: "\F358";
}

[dir="rtl"] .fa-arrow-alt-circle-left:before {
  content: "\F359";
}

[dir="rtl"] .fa-arrow-alt-circle-right:before {
  content: "\F35A";
}

[dir="rtl"] .fa-arrow-alt-circle-up:before {
  content: "\F35B";
}

[dir="rtl"] .fa-arrow-circle-down:before {
  content: "\F0AB";
}

[dir="rtl"] .fa-arrow-circle-left:before {
  content: "\F0A8";
}

[dir="rtl"] .fa-arrow-circle-right:before {
  content: "\F0A9";
}

[dir="rtl"] .fa-arrow-circle-up:before {
  content: "\F0AA";
}

[dir="rtl"] .fa-arrow-down:before {
  content: "\F063";
}

[dir="rtl"] .fa-arrow-left:before {
  content: "\F060";
}

[dir="rtl"] .fa-arrow-right:before {
  content: "\F061";
}

[dir="rtl"] .fa-arrow-up:before {
  content: "\F062";
}

[dir="rtl"] .fa-arrows-alt:before {
  content: "\F0B2";
}

[dir="rtl"] .fa-arrows-alt-h:before {
  content: "\F337";
}

[dir="rtl"] .fa-arrows-alt-v:before {
  content: "\F338";
}

[dir="rtl"] .fa-artstation:before {
  content: "\F77A";
}

[dir="rtl"] .fa-assistive-listening-systems:before {
  content: "\F2A2";
}

[dir="rtl"] .fa-asterisk:before {
  content: "\F069";
}

[dir="rtl"] .fa-asymmetrik:before {
  content: "\F372";
}

[dir="rtl"] .fa-at:before {
  content: "\F1FA";
}

[dir="rtl"] .fa-atlas:before {
  content: "\F558";
}

[dir="rtl"] .fa-atlassian:before {
  content: "\F77B";
}

[dir="rtl"] .fa-atom:before {
  content: "\F5D2";
}

[dir="rtl"] .fa-audible:before {
  content: "\F373";
}

[dir="rtl"] .fa-audio-description:before {
  content: "\F29E";
}

[dir="rtl"] .fa-autoprefixer:before {
  content: "\F41C";
}

[dir="rtl"] .fa-avianex:before {
  content: "\F374";
}

[dir="rtl"] .fa-aviato:before {
  content: "\F421";
}

[dir="rtl"] .fa-award:before {
  content: "\F559";
}

[dir="rtl"] .fa-aws:before {
  content: "\F375";
}

[dir="rtl"] .fa-baby:before {
  content: "\F77C";
}

[dir="rtl"] .fa-baby-carriage:before {
  content: "\F77D";
}

[dir="rtl"] .fa-backspace:before {
  content: "\F55A";
}

[dir="rtl"] .fa-backward:before {
  content: "\F04A";
}

[dir="rtl"] .fa-bacon:before {
  content: "\F7E5";
}

[dir="rtl"] .fa-bahai:before {
  content: "\F666";
}

[dir="rtl"] .fa-balance-scale:before {
  content: "\F24E";
}

[dir="rtl"] .fa-balance-scale-left:before {
  content: "\F515";
}

[dir="rtl"] .fa-balance-scale-right:before {
  content: "\F516";
}

[dir="rtl"] .fa-ban:before {
  content: "\F05E";
}

[dir="rtl"] .fa-band-aid:before {
  content: "\F462";
}

[dir="rtl"] .fa-bandcamp:before {
  content: "\F2D5";
}

[dir="rtl"] .fa-barcode:before {
  content: "\F02A";
}

[dir="rtl"] .fa-bars:before {
  content: "\F0C9";
}

[dir="rtl"] .fa-baseball-ball:before {
  content: "\F433";
}

[dir="rtl"] .fa-basketball-ball:before {
  content: "\F434";
}

[dir="rtl"] .fa-bath:before {
  content: "\F2CD";
}

[dir="rtl"] .fa-battery-empty:before {
  content: "\F244";
}

[dir="rtl"] .fa-battery-full:before {
  content: "\F240";
}

[dir="rtl"] .fa-battery-half:before {
  content: "\F242";
}

[dir="rtl"] .fa-battery-quarter:before {
  content: "\F243";
}

[dir="rtl"] .fa-battery-three-quarters:before {
  content: "\F241";
}

[dir="rtl"] .fa-battle-net:before {
  content: "\F835";
}

[dir="rtl"] .fa-bed:before {
  content: "\F236";
}

[dir="rtl"] .fa-beer:before {
  content: "\F0FC";
}

[dir="rtl"] .fa-behance:before {
  content: "\F1B4";
}

[dir="rtl"] .fa-behance-square:before {
  content: "\F1B5";
}

[dir="rtl"] .fa-bell:before {
  content: "\F0F3";
}

[dir="rtl"] .fa-bell-slash:before {
  content: "\F1F6";
}

[dir="rtl"] .fa-bezier-curve:before {
  content: "\F55B";
}

[dir="rtl"] .fa-bible:before {
  content: "\F647";
}

[dir="rtl"] .fa-bicycle:before {
  content: "\F206";
}

[dir="rtl"] .fa-biking:before {
  content: "\F84A";
}

[dir="rtl"] .fa-bimobject:before {
  content: "\F378";
}

[dir="rtl"] .fa-binoculars:before {
  content: "\F1E5";
}

[dir="rtl"] .fa-biohazard:before {
  content: "\F780";
}

[dir="rtl"] .fa-birthday-cake:before {
  content: "\F1FD";
}

[dir="rtl"] .fa-bitbucket:before {
  content: "\F171";
}

[dir="rtl"] .fa-bitcoin:before {
  content: "\F379";
}

[dir="rtl"] .fa-bity:before {
  content: "\F37A";
}

[dir="rtl"] .fa-black-tie:before {
  content: "\F27E";
}

[dir="rtl"] .fa-blackberry:before {
  content: "\F37B";
}

[dir="rtl"] .fa-blender:before {
  content: "\F517";
}

[dir="rtl"] .fa-blender-phone:before {
  content: "\F6B6";
}

[dir="rtl"] .fa-blind:before {
  content: "\F29D";
}

[dir="rtl"] .fa-blog:before {
  content: "\F781";
}

[dir="rtl"] .fa-blogger:before {
  content: "\F37C";
}

[dir="rtl"] .fa-blogger-b:before {
  content: "\F37D";
}

[dir="rtl"] .fa-bluetooth:before {
  content: "\F293";
}

[dir="rtl"] .fa-bluetooth-b:before {
  content: "\F294";
}

[dir="rtl"] .fa-bold:before {
  content: "\F032";
}

[dir="rtl"] .fa-bolt:before {
  content: "\F0E7";
}

[dir="rtl"] .fa-bomb:before {
  content: "\F1E2";
}

[dir="rtl"] .fa-bone:before {
  content: "\F5D7";
}

[dir="rtl"] .fa-bong:before {
  content: "\F55C";
}

[dir="rtl"] .fa-book:before {
  content: "\F02D";
}

[dir="rtl"] .fa-book-dead:before {
  content: "\F6B7";
}

[dir="rtl"] .fa-book-medical:before {
  content: "\F7E6";
}

[dir="rtl"] .fa-book-open:before {
  content: "\F518";
}

[dir="rtl"] .fa-book-reader:before {
  content: "\F5DA";
}

[dir="rtl"] .fa-bookmark:before {
  content: "\F02E";
}

[dir="rtl"] .fa-bootstrap:before {
  content: "\F836";
}

[dir="rtl"] .fa-border-all:before {
  content: "\F84C";
}

[dir="rtl"] .fa-border-none:before {
  content: "\F850";
}

[dir="rtl"] .fa-border-style:before {
  content: "\F853";
}

[dir="rtl"] .fa-bowling-ball:before {
  content: "\F436";
}

[dir="rtl"] .fa-box:before {
  content: "\F466";
}

[dir="rtl"] .fa-box-open:before {
  content: "\F49E";
}

[dir="rtl"] .fa-boxes:before {
  content: "\F468";
}

[dir="rtl"] .fa-braille:before {
  content: "\F2A1";
}

[dir="rtl"] .fa-brain:before {
  content: "\F5DC";
}

[dir="rtl"] .fa-bread-slice:before {
  content: "\F7EC";
}

[dir="rtl"] .fa-briefcase:before {
  content: "\F0B1";
}

[dir="rtl"] .fa-briefcase-medical:before {
  content: "\F469";
}

[dir="rtl"] .fa-broadcast-tower:before {
  content: "\F519";
}

[dir="rtl"] .fa-broom:before {
  content: "\F51A";
}

[dir="rtl"] .fa-brush:before {
  content: "\F55D";
}

[dir="rtl"] .fa-btc:before {
  content: "\F15A";
}

[dir="rtl"] .fa-buffer:before {
  content: "\F837";
}

[dir="rtl"] .fa-bug:before {
  content: "\F188";
}

[dir="rtl"] .fa-building:before {
  content: "\F1AD";
}

[dir="rtl"] .fa-bullhorn:before {
  content: "\F0A1";
}

[dir="rtl"] .fa-bullseye:before {
  content: "\F140";
}

[dir="rtl"] .fa-burn:before {
  content: "\F46A";
}

[dir="rtl"] .fa-buromobelexperte:before {
  content: "\F37F";
}

[dir="rtl"] .fa-bus:before {
  content: "\F207";
}

[dir="rtl"] .fa-bus-alt:before {
  content: "\F55E";
}

[dir="rtl"] .fa-business-time:before {
  content: "\F64A";
}

[dir="rtl"] .fa-buy-n-large:before {
  content: "\F8A6";
}

[dir="rtl"] .fa-buysellads:before {
  content: "\F20D";
}

[dir="rtl"] .fa-calculator:before {
  content: "\F1EC";
}

[dir="rtl"] .fa-calendar:before {
  content: "\F133";
}

[dir="rtl"] .fa-calendar-alt:before {
  content: "\F073";
}

[dir="rtl"] .fa-calendar-check:before {
  content: "\F274";
}

[dir="rtl"] .fa-calendar-day:before {
  content: "\F783";
}

[dir="rtl"] .fa-calendar-minus:before {
  content: "\F272";
}

[dir="rtl"] .fa-calendar-plus:before {
  content: "\F271";
}

[dir="rtl"] .fa-calendar-times:before {
  content: "\F273";
}

[dir="rtl"] .fa-calendar-week:before {
  content: "\F784";
}

[dir="rtl"] .fa-camera:before {
  content: "\F030";
}

[dir="rtl"] .fa-camera-retro:before {
  content: "\F083";
}

[dir="rtl"] .fa-campground:before {
  content: "\F6BB";
}

[dir="rtl"] .fa-canadian-maple-leaf:before {
  content: "\F785";
}

[dir="rtl"] .fa-candy-cane:before {
  content: "\F786";
}

[dir="rtl"] .fa-cannabis:before {
  content: "\F55F";
}

[dir="rtl"] .fa-capsules:before {
  content: "\F46B";
}

[dir="rtl"] .fa-car:before {
  content: "\F1B9";
}

[dir="rtl"] .fa-car-alt:before {
  content: "\F5DE";
}

[dir="rtl"] .fa-car-battery:before {
  content: "\F5DF";
}

[dir="rtl"] .fa-car-crash:before {
  content: "\F5E1";
}

[dir="rtl"] .fa-car-side:before {
  content: "\F5E4";
}

[dir="rtl"] .fa-caravan:before {
  content: "\F8FF";
}

[dir="rtl"] .fa-caret-down:before {
  content: "\F0D7";
}

[dir="rtl"] .fa-caret-left:before {
  content: "\F0D9";
}

[dir="rtl"] .fa-caret-right:before {
  content: "\F0DA";
}

[dir="rtl"] .fa-caret-square-down:before {
  content: "\F150";
}

[dir="rtl"] .fa-caret-square-left:before {
  content: "\F191";
}

[dir="rtl"] .fa-caret-square-right:before {
  content: "\F152";
}

[dir="rtl"] .fa-caret-square-up:before {
  content: "\F151";
}

[dir="rtl"] .fa-caret-up:before {
  content: "\F0D8";
}

[dir="rtl"] .fa-carrot:before {
  content: "\F787";
}

[dir="rtl"] .fa-cart-arrow-down:before {
  content: "\F218";
}

[dir="rtl"] .fa-cart-plus:before {
  content: "\F217";
}

[dir="rtl"] .fa-cash-register:before {
  content: "\F788";
}

[dir="rtl"] .fa-cat:before {
  content: "\F6BE";
}

[dir="rtl"] .fa-cc-amazon-pay:before {
  content: "\F42D";
}

[dir="rtl"] .fa-cc-amex:before {
  content: "\F1F3";
}

[dir="rtl"] .fa-cc-apple-pay:before {
  content: "\F416";
}

[dir="rtl"] .fa-cc-diners-club:before {
  content: "\F24C";
}

[dir="rtl"] .fa-cc-discover:before {
  content: "\F1F2";
}

[dir="rtl"] .fa-cc-jcb:before {
  content: "\F24B";
}

[dir="rtl"] .fa-cc-mastercard:before {
  content: "\F1F1";
}

[dir="rtl"] .fa-cc-paypal:before {
  content: "\F1F4";
}

[dir="rtl"] .fa-cc-stripe:before {
  content: "\F1F5";
}

[dir="rtl"] .fa-cc-visa:before {
  content: "\F1F0";
}

[dir="rtl"] .fa-centercode:before {
  content: "\F380";
}

[dir="rtl"] .fa-centos:before {
  content: "\F789";
}

[dir="rtl"] .fa-certificate:before {
  content: "\F0A3";
}

[dir="rtl"] .fa-chair:before {
  content: "\F6C0";
}

[dir="rtl"] .fa-chalkboard:before {
  content: "\F51B";
}

[dir="rtl"] .fa-chalkboard-teacher:before {
  content: "\F51C";
}

[dir="rtl"] .fa-charging-station:before {
  content: "\F5E7";
}

[dir="rtl"] .fa-chart-area:before {
  content: "\F1FE";
}

[dir="rtl"] .fa-chart-bar:before {
  content: "\F080";
}

[dir="rtl"] .fa-chart-line:before {
  content: "\F201";
}

[dir="rtl"] .fa-chart-pie:before {
  content: "\F200";
}

[dir="rtl"] .fa-check:before {
  content: "\F00C";
}

[dir="rtl"] .fa-check-circle:before {
  content: "\F058";
}

[dir="rtl"] .fa-check-double:before {
  content: "\F560";
}

[dir="rtl"] .fa-check-square:before {
  content: "\F14A";
}

[dir="rtl"] .fa-cheese:before {
  content: "\F7EF";
}

[dir="rtl"] .fa-chess:before {
  content: "\F439";
}

[dir="rtl"] .fa-chess-bishop:before {
  content: "\F43A";
}

[dir="rtl"] .fa-chess-board:before {
  content: "\F43C";
}

[dir="rtl"] .fa-chess-king:before {
  content: "\F43F";
}

[dir="rtl"] .fa-chess-knight:before {
  content: "\F441";
}

[dir="rtl"] .fa-chess-pawn:before {
  content: "\F443";
}

[dir="rtl"] .fa-chess-queen:before {
  content: "\F445";
}

[dir="rtl"] .fa-chess-rook:before {
  content: "\F447";
}

[dir="rtl"] .fa-chevron-circle-down:before {
  content: "\F13A";
}

[dir="rtl"] .fa-chevron-circle-left:before {
  content: "\F137";
}

[dir="rtl"] .fa-chevron-circle-right:before {
  content: "\F138";
}

[dir="rtl"] .fa-chevron-circle-up:before {
  content: "\F139";
}

[dir="rtl"] .fa-chevron-down:before {
  content: "\F078";
}

[dir="rtl"] .fa-chevron-left:before {
  content: "\F053";
}

[dir="rtl"] .fa-chevron-right:before {
  content: "\F054";
}

[dir="rtl"] .fa-chevron-up:before {
  content: "\F077";
}

[dir="rtl"] .fa-child:before {
  content: "\F1AE";
}

[dir="rtl"] .fa-chrome:before {
  content: "\F268";
}

[dir="rtl"] .fa-chromecast:before {
  content: "\F838";
}

[dir="rtl"] .fa-church:before {
  content: "\F51D";
}

[dir="rtl"] .fa-circle:before {
  content: "\F111";
}

[dir="rtl"] .fa-circle-notch:before {
  content: "\F1CE";
}

[dir="rtl"] .fa-city:before {
  content: "\F64F";
}

[dir="rtl"] .fa-clinic-medical:before {
  content: "\F7F2";
}

[dir="rtl"] .fa-clipboard:before {
  content: "\F328";
}

[dir="rtl"] .fa-clipboard-check:before {
  content: "\F46C";
}

[dir="rtl"] .fa-clipboard-list:before {
  content: "\F46D";
}

[dir="rtl"] .fa-clock:before {
  content: "\F017";
}

[dir="rtl"] .fa-clone:before {
  content: "\F24D";
}

[dir="rtl"] .fa-closed-captioning:before {
  content: "\F20A";
}

[dir="rtl"] .fa-cloud:before {
  content: "\F0C2";
}

[dir="rtl"] .fa-cloud-download-alt:before {
  content: "\F381";
}

[dir="rtl"] .fa-cloud-meatball:before {
  content: "\F73B";
}

[dir="rtl"] .fa-cloud-moon:before {
  content: "\F6C3";
}

[dir="rtl"] .fa-cloud-moon-rain:before {
  content: "\F73C";
}

[dir="rtl"] .fa-cloud-rain:before {
  content: "\F73D";
}

[dir="rtl"] .fa-cloud-showers-heavy:before {
  content: "\F740";
}

[dir="rtl"] .fa-cloud-sun:before {
  content: "\F6C4";
}

[dir="rtl"] .fa-cloud-sun-rain:before {
  content: "\F743";
}

[dir="rtl"] .fa-cloud-upload-alt:before {
  content: "\F382";
}

[dir="rtl"] .fa-cloudscale:before {
  content: "\F383";
}

[dir="rtl"] .fa-cloudsmith:before {
  content: "\F384";
}

[dir="rtl"] .fa-cloudversify:before {
  content: "\F385";
}

[dir="rtl"] .fa-cocktail:before {
  content: "\F561";
}

[dir="rtl"] .fa-code:before {
  content: "\F121";
}

[dir="rtl"] .fa-code-branch:before {
  content: "\F126";
}

[dir="rtl"] .fa-codepen:before {
  content: "\F1CB";
}

[dir="rtl"] .fa-codiepie:before {
  content: "\F284";
}

[dir="rtl"] .fa-coffee:before {
  content: "\F0F4";
}

[dir="rtl"] .fa-cog:before {
  content: "\F013";
}

[dir="rtl"] .fa-cogs:before {
  content: "\F085";
}

[dir="rtl"] .fa-coins:before {
  content: "\F51E";
}

[dir="rtl"] .fa-columns:before {
  content: "\F0DB";
}

[dir="rtl"] .fa-comment:before {
  content: "\F075";
}

[dir="rtl"] .fa-comment-alt:before {
  content: "\F27A";
}

[dir="rtl"] .fa-comment-dollar:before {
  content: "\F651";
}

[dir="rtl"] .fa-comment-dots:before {
  content: "\F4AD";
}

[dir="rtl"] .fa-comment-medical:before {
  content: "\F7F5";
}

[dir="rtl"] .fa-comment-slash:before {
  content: "\F4B3";
}

[dir="rtl"] .fa-comments:before {
  content: "\F086";
}

[dir="rtl"] .fa-comments-dollar:before {
  content: "\F653";
}

[dir="rtl"] .fa-compact-disc:before {
  content: "\F51F";
}

[dir="rtl"] .fa-compass:before {
  content: "\F14E";
}

[dir="rtl"] .fa-compress:before {
  content: "\F066";
}

[dir="rtl"] .fa-compress-alt:before {
  content: "\F422";
}

[dir="rtl"] .fa-compress-arrows-alt:before {
  content: "\F78C";
}

[dir="rtl"] .fa-concierge-bell:before {
  content: "\F562";
}

[dir="rtl"] .fa-confluence:before {
  content: "\F78D";
}

[dir="rtl"] .fa-connectdevelop:before {
  content: "\F20E";
}

[dir="rtl"] .fa-contao:before {
  content: "\F26D";
}

[dir="rtl"] .fa-cookie:before {
  content: "\F563";
}

[dir="rtl"] .fa-cookie-bite:before {
  content: "\F564";
}

[dir="rtl"] .fa-copy:before {
  content: "\F0C5";
}

[dir="rtl"] .fa-copyright:before {
  content: "\F1F9";
}

[dir="rtl"] .fa-cotton-bureau:before {
  content: "\F89E";
}

[dir="rtl"] .fa-couch:before {
  content: "\F4B8";
}

[dir="rtl"] .fa-cpanel:before {
  content: "\F388";
}

[dir="rtl"] .fa-creative-commons:before {
  content: "\F25E";
}

[dir="rtl"] .fa-creative-commons-by:before {
  content: "\F4E7";
}

[dir="rtl"] .fa-creative-commons-nc:before {
  content: "\F4E8";
}

[dir="rtl"] .fa-creative-commons-nc-eu:before {
  content: "\F4E9";
}

[dir="rtl"] .fa-creative-commons-nc-jp:before {
  content: "\F4EA";
}

[dir="rtl"] .fa-creative-commons-nd:before {
  content: "\F4EB";
}

[dir="rtl"] .fa-creative-commons-pd:before {
  content: "\F4EC";
}

[dir="rtl"] .fa-creative-commons-pd-alt:before {
  content: "\F4ED";
}

[dir="rtl"] .fa-creative-commons-remix:before {
  content: "\F4EE";
}

[dir="rtl"] .fa-creative-commons-sa:before {
  content: "\F4EF";
}

[dir="rtl"] .fa-creative-commons-sampling:before {
  content: "\F4F0";
}

[dir="rtl"] .fa-creative-commons-sampling-plus:before {
  content: "\F4F1";
}

[dir="rtl"] .fa-creative-commons-share:before {
  content: "\F4F2";
}

[dir="rtl"] .fa-creative-commons-zero:before {
  content: "\F4F3";
}

[dir="rtl"] .fa-credit-card:before {
  content: "\F09D";
}

[dir="rtl"] .fa-critical-role:before {
  content: "\F6C9";
}

[dir="rtl"] .fa-crop:before {
  content: "\F125";
}

[dir="rtl"] .fa-crop-alt:before {
  content: "\F565";
}

[dir="rtl"] .fa-cross:before {
  content: "\F654";
}

[dir="rtl"] .fa-crosshairs:before {
  content: "\F05B";
}

[dir="rtl"] .fa-crow:before {
  content: "\F520";
}

[dir="rtl"] .fa-crown:before {
  content: "\F521";
}

[dir="rtl"] .fa-crutch:before {
  content: "\F7F7";
}

[dir="rtl"] .fa-css3:before {
  content: "\F13C";
}

[dir="rtl"] .fa-css3-alt:before {
  content: "\F38B";
}

[dir="rtl"] .fa-cube:before {
  content: "\F1B2";
}

[dir="rtl"] .fa-cubes:before {
  content: "\F1B3";
}

[dir="rtl"] .fa-cut:before {
  content: "\F0C4";
}

[dir="rtl"] .fa-cuttlefish:before {
  content: "\F38C";
}

[dir="rtl"] .fa-d-and-d:before {
  content: "\F38D";
}

[dir="rtl"] .fa-d-and-d-beyond:before {
  content: "\F6CA";
}

[dir="rtl"] .fa-dailymotion:before {
  content: "\F952";
}

[dir="rtl"] .fa-dashcube:before {
  content: "\F210";
}

[dir="rtl"] .fa-database:before {
  content: "\F1C0";
}

[dir="rtl"] .fa-deaf:before {
  content: "\F2A4";
}

[dir="rtl"] .fa-delicious:before {
  content: "\F1A5";
}

[dir="rtl"] .fa-democrat:before {
  content: "\F747";
}

[dir="rtl"] .fa-deploydog:before {
  content: "\F38E";
}

[dir="rtl"] .fa-deskpro:before {
  content: "\F38F";
}

[dir="rtl"] .fa-desktop:before {
  content: "\F108";
}

[dir="rtl"] .fa-dev:before {
  content: "\F6CC";
}

[dir="rtl"] .fa-deviantart:before {
  content: "\F1BD";
}

[dir="rtl"] .fa-dharmachakra:before {
  content: "\F655";
}

[dir="rtl"] .fa-dhl:before {
  content: "\F790";
}

[dir="rtl"] .fa-diagnoses:before {
  content: "\F470";
}

[dir="rtl"] .fa-diaspora:before {
  content: "\F791";
}

[dir="rtl"] .fa-dice:before {
  content: "\F522";
}

[dir="rtl"] .fa-dice-d20:before {
  content: "\F6CF";
}

[dir="rtl"] .fa-dice-d6:before {
  content: "\F6D1";
}

[dir="rtl"] .fa-dice-five:before {
  content: "\F523";
}

[dir="rtl"] .fa-dice-four:before {
  content: "\F524";
}

[dir="rtl"] .fa-dice-one:before {
  content: "\F525";
}

[dir="rtl"] .fa-dice-six:before {
  content: "\F526";
}

[dir="rtl"] .fa-dice-three:before {
  content: "\F527";
}

[dir="rtl"] .fa-dice-two:before {
  content: "\F528";
}

[dir="rtl"] .fa-digg:before {
  content: "\F1A6";
}

[dir="rtl"] .fa-digital-ocean:before {
  content: "\F391";
}

[dir="rtl"] .fa-digital-tachograph:before {
  content: "\F566";
}

[dir="rtl"] .fa-directions:before {
  content: "\F5EB";
}

[dir="rtl"] .fa-discord:before {
  content: "\F392";
}

[dir="rtl"] .fa-discourse:before {
  content: "\F393";
}

[dir="rtl"] .fa-divide:before {
  content: "\F529";
}

[dir="rtl"] .fa-dizzy:before {
  content: "\F567";
}

[dir="rtl"] .fa-dna:before {
  content: "\F471";
}

[dir="rtl"] .fa-dochub:before {
  content: "\F394";
}

[dir="rtl"] .fa-docker:before {
  content: "\F395";
}

[dir="rtl"] .fa-dog:before {
  content: "\F6D3";
}

[dir="rtl"] .fa-dollar-sign:before {
  content: "\F155";
}

[dir="rtl"] .fa-dolly:before {
  content: "\F472";
}

[dir="rtl"] .fa-dolly-flatbed:before {
  content: "\F474";
}

[dir="rtl"] .fa-donate:before {
  content: "\F4B9";
}

[dir="rtl"] .fa-door-closed:before {
  content: "\F52A";
}

[dir="rtl"] .fa-door-open:before {
  content: "\F52B";
}

[dir="rtl"] .fa-dot-circle:before {
  content: "\F192";
}

[dir="rtl"] .fa-dove:before {
  content: "\F4BA";
}

[dir="rtl"] .fa-download:before {
  content: "\F019";
}

[dir="rtl"] .fa-draft2digital:before {
  content: "\F396";
}

[dir="rtl"] .fa-drafting-compass:before {
  content: "\F568";
}

[dir="rtl"] .fa-dragon:before {
  content: "\F6D5";
}

[dir="rtl"] .fa-draw-polygon:before {
  content: "\F5EE";
}

[dir="rtl"] .fa-dribbble:before {
  content: "\F17D";
}

[dir="rtl"] .fa-dribbble-square:before {
  content: "\F397";
}

[dir="rtl"] .fa-dropbox:before {
  content: "\F16B";
}

[dir="rtl"] .fa-drum:before {
  content: "\F569";
}

[dir="rtl"] .fa-drum-steelpan:before {
  content: "\F56A";
}

[dir="rtl"] .fa-drumstick-bite:before {
  content: "\F6D7";
}

[dir="rtl"] .fa-drupal:before {
  content: "\F1A9";
}

[dir="rtl"] .fa-dumbbell:before {
  content: "\F44B";
}

[dir="rtl"] .fa-dumpster:before {
  content: "\F793";
}

[dir="rtl"] .fa-dumpster-fire:before {
  content: "\F794";
}

[dir="rtl"] .fa-dungeon:before {
  content: "\F6D9";
}

[dir="rtl"] .fa-dyalog:before {
  content: "\F399";
}

[dir="rtl"] .fa-earlybirds:before {
  content: "\F39A";
}

[dir="rtl"] .fa-ebay:before {
  content: "\F4F4";
}

[dir="rtl"] .fa-edge:before {
  content: "\F282";
}

[dir="rtl"] .fa-edit:before {
  content: "\F044";
}

[dir="rtl"] .fa-egg:before {
  content: "\F7FB";
}

[dir="rtl"] .fa-eject:before {
  content: "\F052";
}

[dir="rtl"] .fa-elementor:before {
  content: "\F430";
}

[dir="rtl"] .fa-ellipsis-h:before {
  content: "\F141";
}

[dir="rtl"] .fa-ellipsis-v:before {
  content: "\F142";
}

[dir="rtl"] .fa-ello:before {
  content: "\F5F1";
}

[dir="rtl"] .fa-ember:before {
  content: "\F423";
}

[dir="rtl"] .fa-empire:before {
  content: "\F1D1";
}

[dir="rtl"] .fa-envelope:before {
  content: "\F0E0";
}

[dir="rtl"] .fa-envelope-open:before {
  content: "\F2B6";
}

[dir="rtl"] .fa-envelope-open-text:before {
  content: "\F658";
}

[dir="rtl"] .fa-envelope-square:before {
  content: "\F199";
}

[dir="rtl"] .fa-envira:before {
  content: "\F299";
}

[dir="rtl"] .fa-equals:before {
  content: "\F52C";
}

[dir="rtl"] .fa-eraser:before {
  content: "\F12D";
}

[dir="rtl"] .fa-erlang:before {
  content: "\F39D";
}

[dir="rtl"] .fa-ethereum:before {
  content: "\F42E";
}

[dir="rtl"] .fa-ethernet:before {
  content: "\F796";
}

[dir="rtl"] .fa-etsy:before {
  content: "\F2D7";
}

[dir="rtl"] .fa-euro-sign:before {
  content: "\F153";
}

[dir="rtl"] .fa-evernote:before {
  content: "\F839";
}

[dir="rtl"] .fa-exchange-alt:before {
  content: "\F362";
}

[dir="rtl"] .fa-exclamation:before {
  content: "\F12A";
}

[dir="rtl"] .fa-exclamation-circle:before {
  content: "\F06A";
}

[dir="rtl"] .fa-exclamation-triangle:before {
  content: "\F071";
}

[dir="rtl"] .fa-expand:before {
  content: "\F065";
}

[dir="rtl"] .fa-expand-alt:before {
  content: "\F424";
}

[dir="rtl"] .fa-expand-arrows-alt:before {
  content: "\F31E";
}

[dir="rtl"] .fa-expeditedssl:before {
  content: "\F23E";
}

[dir="rtl"] .fa-external-link-alt:before {
  content: "\F35D";
}

[dir="rtl"] .fa-external-link-square-alt:before {
  content: "\F360";
}

[dir="rtl"] .fa-eye:before {
  content: "\F06E";
}

[dir="rtl"] .fa-eye-dropper:before {
  content: "\F1FB";
}

[dir="rtl"] .fa-eye-slash:before {
  content: "\F070";
}

[dir="rtl"] .fa-facebook:before {
  content: "\F09A";
}

[dir="rtl"] .fa-facebook-f:before {
  content: "\F39E";
}

[dir="rtl"] .fa-facebook-messenger:before {
  content: "\F39F";
}

[dir="rtl"] .fa-facebook-square:before {
  content: "\F082";
}

[dir="rtl"] .fa-fan:before {
  content: "\F863";
}

[dir="rtl"] .fa-fantasy-flight-games:before {
  content: "\F6DC";
}

[dir="rtl"] .fa-fast-backward:before {
  content: "\F049";
}

[dir="rtl"] .fa-fast-forward:before {
  content: "\F050";
}

[dir="rtl"] .fa-fax:before {
  content: "\F1AC";
}

[dir="rtl"] .fa-feather:before {
  content: "\F52D";
}

[dir="rtl"] .fa-feather-alt:before {
  content: "\F56B";
}

[dir="rtl"] .fa-fedex:before {
  content: "\F797";
}

[dir="rtl"] .fa-fedora:before {
  content: "\F798";
}

[dir="rtl"] .fa-female:before {
  content: "\F182";
}

[dir="rtl"] .fa-fighter-jet:before {
  content: "\F0FB";
}

[dir="rtl"] .fa-figma:before {
  content: "\F799";
}

[dir="rtl"] .fa-file:before {
  content: "\F15B";
}

[dir="rtl"] .fa-file-alt:before {
  content: "\F15C";
}

[dir="rtl"] .fa-file-archive:before {
  content: "\F1C6";
}

[dir="rtl"] .fa-file-audio:before {
  content: "\F1C7";
}

[dir="rtl"] .fa-file-code:before {
  content: "\F1C9";
}

[dir="rtl"] .fa-file-contract:before {
  content: "\F56C";
}

[dir="rtl"] .fa-file-csv:before {
  content: "\F6DD";
}

[dir="rtl"] .fa-file-download:before {
  content: "\F56D";
}

[dir="rtl"] .fa-file-excel:before {
  content: "\F1C3";
}

[dir="rtl"] .fa-file-export:before {
  content: "\F56E";
}

[dir="rtl"] .fa-file-image:before {
  content: "\F1C5";
}

[dir="rtl"] .fa-file-import:before {
  content: "\F56F";
}

[dir="rtl"] .fa-file-invoice:before {
  content: "\F570";
}

[dir="rtl"] .fa-file-invoice-dollar:before {
  content: "\F571";
}

[dir="rtl"] .fa-file-medical:before {
  content: "\F477";
}

[dir="rtl"] .fa-file-medical-alt:before {
  content: "\F478";
}

[dir="rtl"] .fa-file-pdf:before {
  content: "\F1C1";
}

[dir="rtl"] .fa-file-powerpoint:before {
  content: "\F1C4";
}

[dir="rtl"] .fa-file-prescription:before {
  content: "\F572";
}

[dir="rtl"] .fa-file-signature:before {
  content: "\F573";
}

[dir="rtl"] .fa-file-upload:before {
  content: "\F574";
}

[dir="rtl"] .fa-file-video:before {
  content: "\F1C8";
}

[dir="rtl"] .fa-file-word:before {
  content: "\F1C2";
}

[dir="rtl"] .fa-fill:before {
  content: "\F575";
}

[dir="rtl"] .fa-fill-drip:before {
  content: "\F576";
}

[dir="rtl"] .fa-film:before {
  content: "\F008";
}

[dir="rtl"] .fa-filter:before {
  content: "\F0B0";
}

[dir="rtl"] .fa-fingerprint:before {
  content: "\F577";
}

[dir="rtl"] .fa-fire:before {
  content: "\F06D";
}

[dir="rtl"] .fa-fire-alt:before {
  content: "\F7E4";
}

[dir="rtl"] .fa-fire-extinguisher:before {
  content: "\F134";
}

[dir="rtl"] .fa-firefox:before {
  content: "\F269";
}

[dir="rtl"] .fa-firefox-browser:before {
  content: "\F907";
}

[dir="rtl"] .fa-first-aid:before {
  content: "\F479";
}

[dir="rtl"] .fa-first-order:before {
  content: "\F2B0";
}

[dir="rtl"] .fa-first-order-alt:before {
  content: "\F50A";
}

[dir="rtl"] .fa-firstdraft:before {
  content: "\F3A1";
}

[dir="rtl"] .fa-fish:before {
  content: "\F578";
}

[dir="rtl"] .fa-fist-raised:before {
  content: "\F6DE";
}

[dir="rtl"] .fa-flag:before {
  content: "\F024";
}

[dir="rtl"] .fa-flag-checkered:before {
  content: "\F11E";
}

[dir="rtl"] .fa-flag-usa:before {
  content: "\F74D";
}

[dir="rtl"] .fa-flask:before {
  content: "\F0C3";
}

[dir="rtl"] .fa-flickr:before {
  content: "\F16E";
}

[dir="rtl"] .fa-flipboard:before {
  content: "\F44D";
}

[dir="rtl"] .fa-flushed:before {
  content: "\F579";
}

[dir="rtl"] .fa-fly:before {
  content: "\F417";
}

[dir="rtl"] .fa-folder:before {
  content: "\F07B";
}

[dir="rtl"] .fa-folder-minus:before {
  content: "\F65D";
}

[dir="rtl"] .fa-folder-open:before {
  content: "\F07C";
}

[dir="rtl"] .fa-folder-plus:before {
  content: "\F65E";
}

[dir="rtl"] .fa-font:before {
  content: "\F031";
}

[dir="rtl"] .fa-font-awesome:before {
  content: "\F2B4";
}

[dir="rtl"] .fa-font-awesome-alt:before {
  content: "\F35C";
}

[dir="rtl"] .fa-font-awesome-flag:before {
  content: "\F425";
}

[dir="rtl"] .fa-font-awesome-logo-full:before {
  content: "\F4E6";
}

[dir="rtl"] .fa-fonticons:before {
  content: "\F280";
}

[dir="rtl"] .fa-fonticons-fi:before {
  content: "\F3A2";
}

[dir="rtl"] .fa-football-ball:before {
  content: "\F44E";
}

[dir="rtl"] .fa-fort-awesome:before {
  content: "\F286";
}

[dir="rtl"] .fa-fort-awesome-alt:before {
  content: "\F3A3";
}

[dir="rtl"] .fa-forumbee:before {
  content: "\F211";
}

[dir="rtl"] .fa-forward:before {
  content: "\F04E";
}

[dir="rtl"] .fa-foursquare:before {
  content: "\F180";
}

[dir="rtl"] .fa-free-code-camp:before {
  content: "\F2C5";
}

[dir="rtl"] .fa-freebsd:before {
  content: "\F3A4";
}

[dir="rtl"] .fa-frog:before {
  content: "\F52E";
}

[dir="rtl"] .fa-frown:before {
  content: "\F119";
}

[dir="rtl"] .fa-frown-open:before {
  content: "\F57A";
}

[dir="rtl"] .fa-fulcrum:before {
  content: "\F50B";
}

[dir="rtl"] .fa-funnel-dollar:before {
  content: "\F662";
}

[dir="rtl"] .fa-futbol:before {
  content: "\F1E3";
}

[dir="rtl"] .fa-galactic-republic:before {
  content: "\F50C";
}

[dir="rtl"] .fa-galactic-senate:before {
  content: "\F50D";
}

[dir="rtl"] .fa-gamepad:before {
  content: "\F11B";
}

[dir="rtl"] .fa-gas-pump:before {
  content: "\F52F";
}

[dir="rtl"] .fa-gavel:before {
  content: "\F0E3";
}

[dir="rtl"] .fa-gem:before {
  content: "\F3A5";
}

[dir="rtl"] .fa-genderless:before {
  content: "\F22D";
}

[dir="rtl"] .fa-get-pocket:before {
  content: "\F265";
}

[dir="rtl"] .fa-gg:before {
  content: "\F260";
}

[dir="rtl"] .fa-gg-circle:before {
  content: "\F261";
}

[dir="rtl"] .fa-ghost:before {
  content: "\F6E2";
}

[dir="rtl"] .fa-gift:before {
  content: "\F06B";
}

[dir="rtl"] .fa-gifts:before {
  content: "\F79C";
}

[dir="rtl"] .fa-git:before {
  content: "\F1D3";
}

[dir="rtl"] .fa-git-alt:before {
  content: "\F841";
}

[dir="rtl"] .fa-git-square:before {
  content: "\F1D2";
}

[dir="rtl"] .fa-github:before {
  content: "\F09B";
}

[dir="rtl"] .fa-github-alt:before {
  content: "\F113";
}

[dir="rtl"] .fa-github-square:before {
  content: "\F092";
}

[dir="rtl"] .fa-gitkraken:before {
  content: "\F3A6";
}

[dir="rtl"] .fa-gitlab:before {
  content: "\F296";
}

[dir="rtl"] .fa-gitter:before {
  content: "\F426";
}

[dir="rtl"] .fa-glass-cheers:before {
  content: "\F79F";
}

[dir="rtl"] .fa-glass-martini:before {
  content: "\F000";
}

[dir="rtl"] .fa-glass-martini-alt:before {
  content: "\F57B";
}

[dir="rtl"] .fa-glass-whiskey:before {
  content: "\F7A0";
}

[dir="rtl"] .fa-glasses:before {
  content: "\F530";
}

[dir="rtl"] .fa-glide:before {
  content: "\F2A5";
}

[dir="rtl"] .fa-glide-g:before {
  content: "\F2A6";
}

[dir="rtl"] .fa-globe:before {
  content: "\F0AC";
}

[dir="rtl"] .fa-globe-africa:before {
  content: "\F57C";
}

[dir="rtl"] .fa-globe-americas:before {
  content: "\F57D";
}

[dir="rtl"] .fa-globe-asia:before {
  content: "\F57E";
}

[dir="rtl"] .fa-globe-europe:before {
  content: "\F7A2";
}

[dir="rtl"] .fa-gofore:before {
  content: "\F3A7";
}

[dir="rtl"] .fa-golf-ball:before {
  content: "\F450";
}

[dir="rtl"] .fa-goodreads:before {
  content: "\F3A8";
}

[dir="rtl"] .fa-goodreads-g:before {
  content: "\F3A9";
}

[dir="rtl"] .fa-google:before {
  content: "\F1A0";
}

[dir="rtl"] .fa-google-drive:before {
  content: "\F3AA";
}

[dir="rtl"] .fa-google-play:before {
  content: "\F3AB";
}

[dir="rtl"] .fa-google-plus:before {
  content: "\F2B3";
}

[dir="rtl"] .fa-google-plus-g:before {
  content: "\F0D5";
}

[dir="rtl"] .fa-google-plus-square:before {
  content: "\F0D4";
}

[dir="rtl"] .fa-google-wallet:before {
  content: "\F1EE";
}

[dir="rtl"] .fa-gopuram:before {
  content: "\F664";
}

[dir="rtl"] .fa-graduation-cap:before {
  content: "\F19D";
}

[dir="rtl"] .fa-gratipay:before {
  content: "\F184";
}

[dir="rtl"] .fa-grav:before {
  content: "\F2D6";
}

[dir="rtl"] .fa-greater-than:before {
  content: "\F531";
}

[dir="rtl"] .fa-greater-than-equal:before {
  content: "\F532";
}

[dir="rtl"] .fa-grimace:before {
  content: "\F57F";
}

[dir="rtl"] .fa-grin:before {
  content: "\F580";
}

[dir="rtl"] .fa-grin-alt:before {
  content: "\F581";
}

[dir="rtl"] .fa-grin-beam:before {
  content: "\F582";
}

[dir="rtl"] .fa-grin-beam-sweat:before {
  content: "\F583";
}

[dir="rtl"] .fa-grin-hearts:before {
  content: "\F584";
}

[dir="rtl"] .fa-grin-squint:before {
  content: "\F585";
}

[dir="rtl"] .fa-grin-squint-tears:before {
  content: "\F586";
}

[dir="rtl"] .fa-grin-stars:before {
  content: "\F587";
}

[dir="rtl"] .fa-grin-tears:before {
  content: "\F588";
}

[dir="rtl"] .fa-grin-tongue:before {
  content: "\F589";
}

[dir="rtl"] .fa-grin-tongue-squint:before {
  content: "\F58A";
}

[dir="rtl"] .fa-grin-tongue-wink:before {
  content: "\F58B";
}

[dir="rtl"] .fa-grin-wink:before {
  content: "\F58C";
}

[dir="rtl"] .fa-grip-horizontal:before {
  content: "\F58D";
}

[dir="rtl"] .fa-grip-lines:before {
  content: "\F7A4";
}

[dir="rtl"] .fa-grip-lines-vertical:before {
  content: "\F7A5";
}

[dir="rtl"] .fa-grip-vertical:before {
  content: "\F58E";
}

[dir="rtl"] .fa-gripfire:before {
  content: "\F3AC";
}

[dir="rtl"] .fa-grunt:before {
  content: "\F3AD";
}

[dir="rtl"] .fa-guitar:before {
  content: "\F7A6";
}

[dir="rtl"] .fa-gulp:before {
  content: "\F3AE";
}

[dir="rtl"] .fa-h-square:before {
  content: "\F0FD";
}

[dir="rtl"] .fa-hacker-news:before {
  content: "\F1D4";
}

[dir="rtl"] .fa-hacker-news-square:before {
  content: "\F3AF";
}

[dir="rtl"] .fa-hackerrank:before {
  content: "\F5F7";
}

[dir="rtl"] .fa-hamburger:before {
  content: "\F805";
}

[dir="rtl"] .fa-hammer:before {
  content: "\F6E3";
}

[dir="rtl"] .fa-hamsa:before {
  content: "\F665";
}

[dir="rtl"] .fa-hand-holding:before {
  content: "\F4BD";
}

[dir="rtl"] .fa-hand-holding-heart:before {
  content: "\F4BE";
}

[dir="rtl"] .fa-hand-holding-usd:before {
  content: "\F4C0";
}

[dir="rtl"] .fa-hand-lizard:before {
  content: "\F258";
}

[dir="rtl"] .fa-hand-middle-finger:before {
  content: "\F806";
}

[dir="rtl"] .fa-hand-paper:before {
  content: "\F256";
}

[dir="rtl"] .fa-hand-peace:before {
  content: "\F25B";
}

[dir="rtl"] .fa-hand-point-down:before {
  content: "\F0A7";
}

[dir="rtl"] .fa-hand-point-left:before {
  content: "\F0A5";
}

[dir="rtl"] .fa-hand-point-right:before {
  content: "\F0A4";
}

[dir="rtl"] .fa-hand-point-up:before {
  content: "\F0A6";
}

[dir="rtl"] .fa-hand-pointer:before {
  content: "\F25A";
}

[dir="rtl"] .fa-hand-rock:before {
  content: "\F255";
}

[dir="rtl"] .fa-hand-scissors:before {
  content: "\F257";
}

[dir="rtl"] .fa-hand-spock:before {
  content: "\F259";
}

[dir="rtl"] .fa-hands:before {
  content: "\F4C2";
}

[dir="rtl"] .fa-hands-helping:before {
  content: "\F4C4";
}

[dir="rtl"] .fa-handshake:before {
  content: "\F2B5";
}

[dir="rtl"] .fa-hanukiah:before {
  content: "\F6E6";
}

[dir="rtl"] .fa-hard-hat:before {
  content: "\F807";
}

[dir="rtl"] .fa-hashtag:before {
  content: "\F292";
}

[dir="rtl"] .fa-hat-cowboy:before {
  content: "\F8C0";
}

[dir="rtl"] .fa-hat-cowboy-side:before {
  content: "\F8C1";
}

[dir="rtl"] .fa-hat-wizard:before {
  content: "\F6E8";
}

[dir="rtl"] .fa-hdd:before {
  content: "\F0A0";
}

[dir="rtl"] .fa-heading:before {
  content: "\F1DC";
}

[dir="rtl"] .fa-headphones:before {
  content: "\F025";
}

[dir="rtl"] .fa-headphones-alt:before {
  content: "\F58F";
}

[dir="rtl"] .fa-headset:before {
  content: "\F590";
}

[dir="rtl"] .fa-heart:before {
  content: "\F004";
}

[dir="rtl"] .fa-heart-broken:before {
  content: "\F7A9";
}

[dir="rtl"] .fa-heartbeat:before {
  content: "\F21E";
}

[dir="rtl"] .fa-helicopter:before {
  content: "\F533";
}

[dir="rtl"] .fa-highlighter:before {
  content: "\F591";
}

[dir="rtl"] .fa-hiking:before {
  content: "\F6EC";
}

[dir="rtl"] .fa-hippo:before {
  content: "\F6ED";
}

[dir="rtl"] .fa-hips:before {
  content: "\F452";
}

[dir="rtl"] .fa-hire-a-helper:before {
  content: "\F3B0";
}

[dir="rtl"] .fa-history:before {
  content: "\F1DA";
}

[dir="rtl"] .fa-hockey-puck:before {
  content: "\F453";
}

[dir="rtl"] .fa-holly-berry:before {
  content: "\F7AA";
}

[dir="rtl"] .fa-home:before {
  content: "\F015";
}

[dir="rtl"] .fa-hooli:before {
  content: "\F427";
}

[dir="rtl"] .fa-hornbill:before {
  content: "\F592";
}

[dir="rtl"] .fa-horse:before {
  content: "\F6F0";
}

[dir="rtl"] .fa-horse-head:before {
  content: "\F7AB";
}

[dir="rtl"] .fa-hospital:before {
  content: "\F0F8";
}

[dir="rtl"] .fa-hospital-alt:before {
  content: "\F47D";
}

[dir="rtl"] .fa-hospital-symbol:before {
  content: "\F47E";
}

[dir="rtl"] .fa-hot-tub:before {
  content: "\F593";
}

[dir="rtl"] .fa-hotdog:before {
  content: "\F80F";
}

[dir="rtl"] .fa-hotel:before {
  content: "\F594";
}

[dir="rtl"] .fa-hotjar:before {
  content: "\F3B1";
}

[dir="rtl"] .fa-hourglass:before {
  content: "\F254";
}

[dir="rtl"] .fa-hourglass-end:before {
  content: "\F253";
}

[dir="rtl"] .fa-hourglass-half:before {
  content: "\F252";
}

[dir="rtl"] .fa-hourglass-start:before {
  content: "\F251";
}

[dir="rtl"] .fa-house-damage:before {
  content: "\F6F1";
}

[dir="rtl"] .fa-houzz:before {
  content: "\F27C";
}

[dir="rtl"] .fa-hryvnia:before {
  content: "\F6F2";
}

[dir="rtl"] .fa-html5:before {
  content: "\F13B";
}

[dir="rtl"] .fa-hubspot:before {
  content: "\F3B2";
}

[dir="rtl"] .fa-i-cursor:before {
  content: "\F246";
}

[dir="rtl"] .fa-ice-cream:before {
  content: "\F810";
}

[dir="rtl"] .fa-icicles:before {
  content: "\F7AD";
}

[dir="rtl"] .fa-icons:before {
  content: "\F86D";
}

[dir="rtl"] .fa-id-badge:before {
  content: "\F2C1";
}

[dir="rtl"] .fa-id-card:before {
  content: "\F2C2";
}

[dir="rtl"] .fa-id-card-alt:before {
  content: "\F47F";
}

[dir="rtl"] .fa-ideal:before {
  content: "\F913";
}

[dir="rtl"] .fa-igloo:before {
  content: "\F7AE";
}

[dir="rtl"] .fa-image:before {
  content: "\F03E";
}

[dir="rtl"] .fa-images:before {
  content: "\F302";
}

[dir="rtl"] .fa-imdb:before {
  content: "\F2D8";
}

[dir="rtl"] .fa-inbox:before {
  content: "\F01C";
}

[dir="rtl"] .fa-indent:before {
  content: "\F03C";
}

[dir="rtl"] .fa-industry:before {
  content: "\F275";
}

[dir="rtl"] .fa-infinity:before {
  content: "\F534";
}

[dir="rtl"] .fa-info:before {
  content: "\F129";
}

[dir="rtl"] .fa-info-circle:before {
  content: "\F05A";
}

[dir="rtl"] .fa-instagram:before {
  content: "\F16D";
}

[dir="rtl"] .fa-instagram-square:before {
  content: "\F955";
}

[dir="rtl"] .fa-intercom:before {
  content: "\F7AF";
}

[dir="rtl"] .fa-internet-explorer:before {
  content: "\F26B";
}

[dir="rtl"] .fa-invision:before {
  content: "\F7B0";
}

[dir="rtl"] .fa-ioxhost:before {
  content: "\F208";
}

[dir="rtl"] .fa-italic:before {
  content: "\F033";
}

[dir="rtl"] .fa-itch-io:before {
  content: "\F83A";
}

[dir="rtl"] .fa-itunes:before {
  content: "\F3B4";
}

[dir="rtl"] .fa-itunes-note:before {
  content: "\F3B5";
}

[dir="rtl"] .fa-java:before {
  content: "\F4E4";
}

[dir="rtl"] .fa-jedi:before {
  content: "\F669";
}

[dir="rtl"] .fa-jedi-order:before {
  content: "\F50E";
}

[dir="rtl"] .fa-jenkins:before {
  content: "\F3B6";
}

[dir="rtl"] .fa-jira:before {
  content: "\F7B1";
}

[dir="rtl"] .fa-joget:before {
  content: "\F3B7";
}

[dir="rtl"] .fa-joint:before {
  content: "\F595";
}

[dir="rtl"] .fa-joomla:before {
  content: "\F1AA";
}

[dir="rtl"] .fa-journal-whills:before {
  content: "\F66A";
}

[dir="rtl"] .fa-js:before {
  content: "\F3B8";
}

[dir="rtl"] .fa-js-square:before {
  content: "\F3B9";
}

[dir="rtl"] .fa-jsfiddle:before {
  content: "\F1CC";
}

[dir="rtl"] .fa-kaaba:before {
  content: "\F66B";
}

[dir="rtl"] .fa-kaggle:before {
  content: "\F5FA";
}

[dir="rtl"] .fa-key:before {
  content: "\F084";
}

[dir="rtl"] .fa-keybase:before {
  content: "\F4F5";
}

[dir="rtl"] .fa-keyboard:before {
  content: "\F11C";
}

[dir="rtl"] .fa-keycdn:before {
  content: "\F3BA";
}

[dir="rtl"] .fa-khanda:before {
  content: "\F66D";
}

[dir="rtl"] .fa-kickstarter:before {
  content: "\F3BB";
}

[dir="rtl"] .fa-kickstarter-k:before {
  content: "\F3BC";
}

[dir="rtl"] .fa-kiss:before {
  content: "\F596";
}

[dir="rtl"] .fa-kiss-beam:before {
  content: "\F597";
}

[dir="rtl"] .fa-kiss-wink-heart:before {
  content: "\F598";
}

[dir="rtl"] .fa-kiwi-bird:before {
  content: "\F535";
}

[dir="rtl"] .fa-korvue:before {
  content: "\F42F";
}

[dir="rtl"] .fa-landmark:before {
  content: "\F66F";
}

[dir="rtl"] .fa-language:before {
  content: "\F1AB";
}

[dir="rtl"] .fa-laptop:before {
  content: "\F109";
}

[dir="rtl"] .fa-laptop-code:before {
  content: "\F5FC";
}

[dir="rtl"] .fa-laptop-medical:before {
  content: "\F812";
}

[dir="rtl"] .fa-laravel:before {
  content: "\F3BD";
}

[dir="rtl"] .fa-lastfm:before {
  content: "\F202";
}

[dir="rtl"] .fa-lastfm-square:before {
  content: "\F203";
}

[dir="rtl"] .fa-laugh:before {
  content: "\F599";
}

[dir="rtl"] .fa-laugh-beam:before {
  content: "\F59A";
}

[dir="rtl"] .fa-laugh-squint:before {
  content: "\F59B";
}

[dir="rtl"] .fa-laugh-wink:before {
  content: "\F59C";
}

[dir="rtl"] .fa-layer-group:before {
  content: "\F5FD";
}

[dir="rtl"] .fa-leaf:before {
  content: "\F06C";
}

[dir="rtl"] .fa-leanpub:before {
  content: "\F212";
}

[dir="rtl"] .fa-lemon:before {
  content: "\F094";
}

[dir="rtl"] .fa-less:before {
  content: "\F41D";
}

[dir="rtl"] .fa-less-than:before {
  content: "\F536";
}

[dir="rtl"] .fa-less-than-equal:before {
  content: "\F537";
}

[dir="rtl"] .fa-level-down-alt:before {
  content: "\F3BE";
}

[dir="rtl"] .fa-level-up-alt:before {
  content: "\F3BF";
}

[dir="rtl"] .fa-life-ring:before {
  content: "\F1CD";
}

[dir="rtl"] .fa-lightbulb:before {
  content: "\F0EB";
}

[dir="rtl"] .fa-line:before {
  content: "\F3C0";
}

[dir="rtl"] .fa-link:before {
  content: "\F0C1";
}

[dir="rtl"] .fa-linkedin:before {
  content: "\F08C";
}

[dir="rtl"] .fa-linkedin-in:before {
  content: "\F0E1";
}

[dir="rtl"] .fa-linode:before {
  content: "\F2B8";
}

[dir="rtl"] .fa-linux:before {
  content: "\F17C";
}

[dir="rtl"] .fa-lira-sign:before {
  content: "\F195";
}

[dir="rtl"] .fa-list:before {
  content: "\F03A";
}

[dir="rtl"] .fa-list-alt:before {
  content: "\F022";
}

[dir="rtl"] .fa-list-ol:before {
  content: "\F0CB";
}

[dir="rtl"] .fa-list-ul:before {
  content: "\F0CA";
}

[dir="rtl"] .fa-location-arrow:before {
  content: "\F124";
}

[dir="rtl"] .fa-lock:before {
  content: "\F023";
}

[dir="rtl"] .fa-lock-open:before {
  content: "\F3C1";
}

[dir="rtl"] .fa-long-arrow-alt-down:before {
  content: "\F309";
}

[dir="rtl"] .fa-long-arrow-alt-left:before {
  content: "\F30A";
}

[dir="rtl"] .fa-long-arrow-alt-right:before {
  content: "\F30B";
}

[dir="rtl"] .fa-long-arrow-alt-up:before {
  content: "\F30C";
}

[dir="rtl"] .fa-low-vision:before {
  content: "\F2A8";
}

[dir="rtl"] .fa-luggage-cart:before {
  content: "\F59D";
}

[dir="rtl"] .fa-lyft:before {
  content: "\F3C3";
}

[dir="rtl"] .fa-magento:before {
  content: "\F3C4";
}

[dir="rtl"] .fa-magic:before {
  content: "\F0D0";
}

[dir="rtl"] .fa-magnet:before {
  content: "\F076";
}

[dir="rtl"] .fa-mail-bulk:before {
  content: "\F674";
}

[dir="rtl"] .fa-mailchimp:before {
  content: "\F59E";
}

[dir="rtl"] .fa-male:before {
  content: "\F183";
}

[dir="rtl"] .fa-mandalorian:before {
  content: "\F50F";
}

[dir="rtl"] .fa-map:before {
  content: "\F279";
}

[dir="rtl"] .fa-map-marked:before {
  content: "\F59F";
}

[dir="rtl"] .fa-map-marked-alt:before {
  content: "\F5A0";
}

[dir="rtl"] .fa-map-marker:before {
  content: "\F041";
}

[dir="rtl"] .fa-map-marker-alt:before {
  content: "\F3C5";
}

[dir="rtl"] .fa-map-pin:before {
  content: "\F276";
}

[dir="rtl"] .fa-map-signs:before {
  content: "\F277";
}

[dir="rtl"] .fa-markdown:before {
  content: "\F60F";
}

[dir="rtl"] .fa-marker:before {
  content: "\F5A1";
}

[dir="rtl"] .fa-mars:before {
  content: "\F222";
}

[dir="rtl"] .fa-mars-double:before {
  content: "\F227";
}

[dir="rtl"] .fa-mars-stroke:before {
  content: "\F229";
}

[dir="rtl"] .fa-mars-stroke-h:before {
  content: "\F22B";
}

[dir="rtl"] .fa-mars-stroke-v:before {
  content: "\F22A";
}

[dir="rtl"] .fa-mask:before {
  content: "\F6FA";
}

[dir="rtl"] .fa-mastodon:before {
  content: "\F4F6";
}

[dir="rtl"] .fa-maxcdn:before {
  content: "\F136";
}

[dir="rtl"] .fa-mdb:before {
  content: "\F8CA";
}

[dir="rtl"] .fa-medal:before {
  content: "\F5A2";
}

[dir="rtl"] .fa-medapps:before {
  content: "\F3C6";
}

[dir="rtl"] .fa-medium:before {
  content: "\F23A";
}

[dir="rtl"] .fa-medium-m:before {
  content: "\F3C7";
}

[dir="rtl"] .fa-medkit:before {
  content: "\F0FA";
}

[dir="rtl"] .fa-medrt:before {
  content: "\F3C8";
}

[dir="rtl"] .fa-meetup:before {
  content: "\F2E0";
}

[dir="rtl"] .fa-megaport:before {
  content: "\F5A3";
}

[dir="rtl"] .fa-meh:before {
  content: "\F11A";
}

[dir="rtl"] .fa-meh-blank:before {
  content: "\F5A4";
}

[dir="rtl"] .fa-meh-rolling-eyes:before {
  content: "\F5A5";
}

[dir="rtl"] .fa-memory:before {
  content: "\F538";
}

[dir="rtl"] .fa-mendeley:before {
  content: "\F7B3";
}

[dir="rtl"] .fa-menorah:before {
  content: "\F676";
}

[dir="rtl"] .fa-mercury:before {
  content: "\F223";
}

[dir="rtl"] .fa-meteor:before {
  content: "\F753";
}

[dir="rtl"] .fa-microblog:before {
  content: "\F91A";
}

[dir="rtl"] .fa-microchip:before {
  content: "\F2DB";
}

[dir="rtl"] .fa-microphone:before {
  content: "\F130";
}

[dir="rtl"] .fa-microphone-alt:before {
  content: "\F3C9";
}

[dir="rtl"] .fa-microphone-alt-slash:before {
  content: "\F539";
}

[dir="rtl"] .fa-microphone-slash:before {
  content: "\F131";
}

[dir="rtl"] .fa-microscope:before {
  content: "\F610";
}

[dir="rtl"] .fa-microsoft:before {
  content: "\F3CA";
}

[dir="rtl"] .fa-minus:before {
  content: "\F068";
}

[dir="rtl"] .fa-minus-circle:before {
  content: "\F056";
}

[dir="rtl"] .fa-minus-square:before {
  content: "\F146";
}

[dir="rtl"] .fa-mitten:before {
  content: "\F7B5";
}

[dir="rtl"] .fa-mix:before {
  content: "\F3CB";
}

[dir="rtl"] .fa-mixcloud:before {
  content: "\F289";
}

[dir="rtl"] .fa-mixer:before {
  content: "\F956";
}

[dir="rtl"] .fa-mizuni:before {
  content: "\F3CC";
}

[dir="rtl"] .fa-mobile:before {
  content: "\F10B";
}

[dir="rtl"] .fa-mobile-alt:before {
  content: "\F3CD";
}

[dir="rtl"] .fa-modx:before {
  content: "\F285";
}

[dir="rtl"] .fa-monero:before {
  content: "\F3D0";
}

[dir="rtl"] .fa-money-bill:before {
  content: "\F0D6";
}

[dir="rtl"] .fa-money-bill-alt:before {
  content: "\F3D1";
}

[dir="rtl"] .fa-money-bill-wave:before {
  content: "\F53A";
}

[dir="rtl"] .fa-money-bill-wave-alt:before {
  content: "\F53B";
}

[dir="rtl"] .fa-money-check:before {
  content: "\F53C";
}

[dir="rtl"] .fa-money-check-alt:before {
  content: "\F53D";
}

[dir="rtl"] .fa-monument:before {
  content: "\F5A6";
}

[dir="rtl"] .fa-moon:before {
  content: "\F186";
}

[dir="rtl"] .fa-mortar-pestle:before {
  content: "\F5A7";
}

[dir="rtl"] .fa-mosque:before {
  content: "\F678";
}

[dir="rtl"] .fa-motorcycle:before {
  content: "\F21C";
}

[dir="rtl"] .fa-mountain:before {
  content: "\F6FC";
}

[dir="rtl"] .fa-mouse:before {
  content: "\F8CC";
}

[dir="rtl"] .fa-mouse-pointer:before {
  content: "\F245";
}

[dir="rtl"] .fa-mug-hot:before {
  content: "\F7B6";
}

[dir="rtl"] .fa-music:before {
  content: "\F001";
}

[dir="rtl"] .fa-napster:before {
  content: "\F3D2";
}

[dir="rtl"] .fa-neos:before {
  content: "\F612";
}

[dir="rtl"] .fa-network-wired:before {
  content: "\F6FF";
}

[dir="rtl"] .fa-neuter:before {
  content: "\F22C";
}

[dir="rtl"] .fa-newspaper:before {
  content: "\F1EA";
}

[dir="rtl"] .fa-nimblr:before {
  content: "\F5A8";
}

[dir="rtl"] .fa-node:before {
  content: "\F419";
}

[dir="rtl"] .fa-node-js:before {
  content: "\F3D3";
}

[dir="rtl"] .fa-not-equal:before {
  content: "\F53E";
}

[dir="rtl"] .fa-notes-medical:before {
  content: "\F481";
}

[dir="rtl"] .fa-npm:before {
  content: "\F3D4";
}

[dir="rtl"] .fa-ns8:before {
  content: "\F3D5";
}

[dir="rtl"] .fa-nutritionix:before {
  content: "\F3D6";
}

[dir="rtl"] .fa-object-group:before {
  content: "\F247";
}

[dir="rtl"] .fa-object-ungroup:before {
  content: "\F248";
}

[dir="rtl"] .fa-odnoklassniki:before {
  content: "\F263";
}

[dir="rtl"] .fa-odnoklassniki-square:before {
  content: "\F264";
}

[dir="rtl"] .fa-oil-can:before {
  content: "\F613";
}

[dir="rtl"] .fa-old-republic:before {
  content: "\F510";
}

[dir="rtl"] .fa-om:before {
  content: "\F679";
}

[dir="rtl"] .fa-opencart:before {
  content: "\F23D";
}

[dir="rtl"] .fa-openid:before {
  content: "\F19B";
}

[dir="rtl"] .fa-opera:before {
  content: "\F26A";
}

[dir="rtl"] .fa-optin-monster:before {
  content: "\F23C";
}

[dir="rtl"] .fa-orcid:before {
  content: "\F8D2";
}

[dir="rtl"] .fa-osi:before {
  content: "\F41A";
}

[dir="rtl"] .fa-otter:before {
  content: "\F700";
}

[dir="rtl"] .fa-outdent:before {
  content: "\F03B";
}

[dir="rtl"] .fa-page4:before {
  content: "\F3D7";
}

[dir="rtl"] .fa-pagelines:before {
  content: "\F18C";
}

[dir="rtl"] .fa-pager:before {
  content: "\F815";
}

[dir="rtl"] .fa-paint-brush:before {
  content: "\F1FC";
}

[dir="rtl"] .fa-paint-roller:before {
  content: "\F5AA";
}

[dir="rtl"] .fa-palette:before {
  content: "\F53F";
}

[dir="rtl"] .fa-palfed:before {
  content: "\F3D8";
}

[dir="rtl"] .fa-pallet:before {
  content: "\F482";
}

[dir="rtl"] .fa-paper-plane:before {
  content: "\F1D8";
}

[dir="rtl"] .fa-paperclip:before {
  content: "\F0C6";
}

[dir="rtl"] .fa-parachute-box:before {
  content: "\F4CD";
}

[dir="rtl"] .fa-paragraph:before {
  content: "\F1DD";
}

[dir="rtl"] .fa-parking:before {
  content: "\F540";
}

[dir="rtl"] .fa-passport:before {
  content: "\F5AB";
}

[dir="rtl"] .fa-pastafarianism:before {
  content: "\F67B";
}

[dir="rtl"] .fa-paste:before {
  content: "\F0EA";
}

[dir="rtl"] .fa-patreon:before {
  content: "\F3D9";
}

[dir="rtl"] .fa-pause:before {
  content: "\F04C";
}

[dir="rtl"] .fa-pause-circle:before {
  content: "\F28B";
}

[dir="rtl"] .fa-paw:before {
  content: "\F1B0";
}

[dir="rtl"] .fa-paypal:before {
  content: "\F1ED";
}

[dir="rtl"] .fa-peace:before {
  content: "\F67C";
}

[dir="rtl"] .fa-pen:before {
  content: "\F304";
}

[dir="rtl"] .fa-pen-alt:before {
  content: "\F305";
}

[dir="rtl"] .fa-pen-fancy:before {
  content: "\F5AC";
}

[dir="rtl"] .fa-pen-nib:before {
  content: "\F5AD";
}

[dir="rtl"] .fa-pen-square:before {
  content: "\F14B";
}

[dir="rtl"] .fa-pencil-alt:before {
  content: "\F303";
}

[dir="rtl"] .fa-pencil-ruler:before {
  content: "\F5AE";
}

[dir="rtl"] .fa-penny-arcade:before {
  content: "\F704";
}

[dir="rtl"] .fa-people-carry:before {
  content: "\F4CE";
}

[dir="rtl"] .fa-pepper-hot:before {
  content: "\F816";
}

[dir="rtl"] .fa-percent:before {
  content: "\F295";
}

[dir="rtl"] .fa-percentage:before {
  content: "\F541";
}

[dir="rtl"] .fa-periscope:before {
  content: "\F3DA";
}

[dir="rtl"] .fa-person-booth:before {
  content: "\F756";
}

[dir="rtl"] .fa-phabricator:before {
  content: "\F3DB";
}

[dir="rtl"] .fa-phoenix-framework:before {
  content: "\F3DC";
}

[dir="rtl"] .fa-phoenix-squadron:before {
  content: "\F511";
}

[dir="rtl"] .fa-phone:before {
  content: "\F095";
}

[dir="rtl"] .fa-phone-alt:before {
  content: "\F879";
}

[dir="rtl"] .fa-phone-slash:before {
  content: "\F3DD";
}

[dir="rtl"] .fa-phone-square:before {
  content: "\F098";
}

[dir="rtl"] .fa-phone-square-alt:before {
  content: "\F87B";
}

[dir="rtl"] .fa-phone-volume:before {
  content: "\F2A0";
}

[dir="rtl"] .fa-photo-video:before {
  content: "\F87C";
}

[dir="rtl"] .fa-php:before {
  content: "\F457";
}

[dir="rtl"] .fa-pied-piper:before {
  content: "\F2AE";
}

[dir="rtl"] .fa-pied-piper-alt:before {
  content: "\F1A8";
}

[dir="rtl"] .fa-pied-piper-hat:before {
  content: "\F4E5";
}

[dir="rtl"] .fa-pied-piper-pp:before {
  content: "\F1A7";
}

[dir="rtl"] .fa-pied-piper-square:before {
  content: "\F91E";
}

[dir="rtl"] .fa-piggy-bank:before {
  content: "\F4D3";
}

[dir="rtl"] .fa-pills:before {
  content: "\F484";
}

[dir="rtl"] .fa-pinterest:before {
  content: "\F0D2";
}

[dir="rtl"] .fa-pinterest-p:before {
  content: "\F231";
}

[dir="rtl"] .fa-pinterest-square:before {
  content: "\F0D3";
}

[dir="rtl"] .fa-pizza-slice:before {
  content: "\F818";
}

[dir="rtl"] .fa-place-of-worship:before {
  content: "\F67F";
}

[dir="rtl"] .fa-plane:before {
  content: "\F072";
}

[dir="rtl"] .fa-plane-arrival:before {
  content: "\F5AF";
}

[dir="rtl"] .fa-plane-departure:before {
  content: "\F5B0";
}

[dir="rtl"] .fa-play:before {
  content: "\F04B";
}

[dir="rtl"] .fa-play-circle:before {
  content: "\F144";
}

[dir="rtl"] .fa-playstation:before {
  content: "\F3DF";
}

[dir="rtl"] .fa-plug:before {
  content: "\F1E6";
}

[dir="rtl"] .fa-plus:before {
  content: "\F067";
}

[dir="rtl"] .fa-plus-circle:before {
  content: "\F055";
}

[dir="rtl"] .fa-plus-square:before {
  content: "\F0FE";
}

[dir="rtl"] .fa-podcast:before {
  content: "\F2CE";
}

[dir="rtl"] .fa-poll:before {
  content: "\F681";
}

[dir="rtl"] .fa-poll-h:before {
  content: "\F682";
}

[dir="rtl"] .fa-poo:before {
  content: "\F2FE";
}

[dir="rtl"] .fa-poo-storm:before {
  content: "\F75A";
}

[dir="rtl"] .fa-poop:before {
  content: "\F619";
}

[dir="rtl"] .fa-portrait:before {
  content: "\F3E0";
}

[dir="rtl"] .fa-pound-sign:before {
  content: "\F154";
}

[dir="rtl"] .fa-power-off:before {
  content: "\F011";
}

[dir="rtl"] .fa-pray:before {
  content: "\F683";
}

[dir="rtl"] .fa-praying-hands:before {
  content: "\F684";
}

[dir="rtl"] .fa-prescription:before {
  content: "\F5B1";
}

[dir="rtl"] .fa-prescription-bottle:before {
  content: "\F485";
}

[dir="rtl"] .fa-prescription-bottle-alt:before {
  content: "\F486";
}

[dir="rtl"] .fa-print:before {
  content: "\F02F";
}

[dir="rtl"] .fa-procedures:before {
  content: "\F487";
}

[dir="rtl"] .fa-product-hunt:before {
  content: "\F288";
}

[dir="rtl"] .fa-project-diagram:before {
  content: "\F542";
}

[dir="rtl"] .fa-pushed:before {
  content: "\F3E1";
}

[dir="rtl"] .fa-puzzle-piece:before {
  content: "\F12E";
}

[dir="rtl"] .fa-python:before {
  content: "\F3E2";
}

[dir="rtl"] .fa-qq:before {
  content: "\F1D6";
}

[dir="rtl"] .fa-qrcode:before {
  content: "\F029";
}

[dir="rtl"] .fa-question:before {
  content: "\F128";
}

[dir="rtl"] .fa-question-circle:before {
  content: "\F059";
}

[dir="rtl"] .fa-quidditch:before {
  content: "\F458";
}

[dir="rtl"] .fa-quinscape:before {
  content: "\F459";
}

[dir="rtl"] .fa-quora:before {
  content: "\F2C4";
}

[dir="rtl"] .fa-quote-left:before {
  content: "\F10D";
}

[dir="rtl"] .fa-quote-right:before {
  content: "\F10E";
}

[dir="rtl"] .fa-quran:before {
  content: "\F687";
}

[dir="rtl"] .fa-r-project:before {
  content: "\F4F7";
}

[dir="rtl"] .fa-radiation:before {
  content: "\F7B9";
}

[dir="rtl"] .fa-radiation-alt:before {
  content: "\F7BA";
}

[dir="rtl"] .fa-rainbow:before {
  content: "\F75B";
}

[dir="rtl"] .fa-random:before {
  content: "\F074";
}

[dir="rtl"] .fa-raspberry-pi:before {
  content: "\F7BB";
}

[dir="rtl"] .fa-ravelry:before {
  content: "\F2D9";
}

[dir="rtl"] .fa-react:before {
  content: "\F41B";
}

[dir="rtl"] .fa-reacteurope:before {
  content: "\F75D";
}

[dir="rtl"] .fa-readme:before {
  content: "\F4D5";
}

[dir="rtl"] .fa-rebel:before {
  content: "\F1D0";
}

[dir="rtl"] .fa-receipt:before {
  content: "\F543";
}

[dir="rtl"] .fa-record-vinyl:before {
  content: "\F8D9";
}

[dir="rtl"] .fa-recycle:before {
  content: "\F1B8";
}

[dir="rtl"] .fa-red-river:before {
  content: "\F3E3";
}

[dir="rtl"] .fa-reddit:before {
  content: "\F1A1";
}

[dir="rtl"] .fa-reddit-alien:before {
  content: "\F281";
}

[dir="rtl"] .fa-reddit-square:before {
  content: "\F1A2";
}

[dir="rtl"] .fa-redhat:before {
  content: "\F7BC";
}

[dir="rtl"] .fa-redo:before {
  content: "\F01E";
}

[dir="rtl"] .fa-redo-alt:before {
  content: "\F2F9";
}

[dir="rtl"] .fa-registered:before {
  content: "\F25D";
}

[dir="rtl"] .fa-remove-format:before {
  content: "\F87D";
}

[dir="rtl"] .fa-renren:before {
  content: "\F18B";
}

[dir="rtl"] .fa-reply:before {
  content: "\F3E5";
}

[dir="rtl"] .fa-reply-all:before {
  content: "\F122";
}

[dir="rtl"] .fa-replyd:before {
  content: "\F3E6";
}

[dir="rtl"] .fa-republican:before {
  content: "\F75E";
}

[dir="rtl"] .fa-researchgate:before {
  content: "\F4F8";
}

[dir="rtl"] .fa-resolving:before {
  content: "\F3E7";
}

[dir="rtl"] .fa-restroom:before {
  content: "\F7BD";
}

[dir="rtl"] .fa-retweet:before {
  content: "\F079";
}

[dir="rtl"] .fa-rev:before {
  content: "\F5B2";
}

[dir="rtl"] .fa-ribbon:before {
  content: "\F4D6";
}

[dir="rtl"] .fa-ring:before {
  content: "\F70B";
}

[dir="rtl"] .fa-road:before {
  content: "\F018";
}

[dir="rtl"] .fa-robot:before {
  content: "\F544";
}

[dir="rtl"] .fa-rocket:before {
  content: "\F135";
}

[dir="rtl"] .fa-rocketchat:before {
  content: "\F3E8";
}

[dir="rtl"] .fa-rockrms:before {
  content: "\F3E9";
}

[dir="rtl"] .fa-route:before {
  content: "\F4D7";
}

[dir="rtl"] .fa-rss:before {
  content: "\F09E";
}

[dir="rtl"] .fa-rss-square:before {
  content: "\F143";
}

[dir="rtl"] .fa-ruble-sign:before {
  content: "\F158";
}

[dir="rtl"] .fa-ruler:before {
  content: "\F545";
}

[dir="rtl"] .fa-ruler-combined:before {
  content: "\F546";
}

[dir="rtl"] .fa-ruler-horizontal:before {
  content: "\F547";
}

[dir="rtl"] .fa-ruler-vertical:before {
  content: "\F548";
}

[dir="rtl"] .fa-running:before {
  content: "\F70C";
}

[dir="rtl"] .fa-rupee-sign:before {
  content: "\F156";
}

[dir="rtl"] .fa-sad-cry:before {
  content: "\F5B3";
}

[dir="rtl"] .fa-sad-tear:before {
  content: "\F5B4";
}

[dir="rtl"] .fa-safari:before {
  content: "\F267";
}

[dir="rtl"] .fa-salesforce:before {
  content: "\F83B";
}

[dir="rtl"] .fa-sass:before {
  content: "\F41E";
}

[dir="rtl"] .fa-satellite:before {
  content: "\F7BF";
}

[dir="rtl"] .fa-satellite-dish:before {
  content: "\F7C0";
}

[dir="rtl"] .fa-save:before {
  content: "\F0C7";
}

[dir="rtl"] .fa-schlix:before {
  content: "\F3EA";
}

[dir="rtl"] .fa-school:before {
  content: "\F549";
}

[dir="rtl"] .fa-screwdriver:before {
  content: "\F54A";
}

[dir="rtl"] .fa-scribd:before {
  content: "\F28A";
}

[dir="rtl"] .fa-scroll:before {
  content: "\F70E";
}

[dir="rtl"] .fa-sd-card:before {
  content: "\F7C2";
}

[dir="rtl"] .fa-search:before {
  content: "\F002";
}

[dir="rtl"] .fa-search-dollar:before {
  content: "\F688";
}

[dir="rtl"] .fa-search-location:before {
  content: "\F689";
}

[dir="rtl"] .fa-search-minus:before {
  content: "\F010";
}

[dir="rtl"] .fa-search-plus:before {
  content: "\F00E";
}

[dir="rtl"] .fa-searchengin:before {
  content: "\F3EB";
}

[dir="rtl"] .fa-seedling:before {
  content: "\F4D8";
}

[dir="rtl"] .fa-sellcast:before {
  content: "\F2DA";
}

[dir="rtl"] .fa-sellsy:before {
  content: "\F213";
}

[dir="rtl"] .fa-server:before {
  content: "\F233";
}

[dir="rtl"] .fa-servicestack:before {
  content: "\F3EC";
}

[dir="rtl"] .fa-shapes:before {
  content: "\F61F";
}

[dir="rtl"] .fa-share:before {
  content: "\F064";
}

[dir="rtl"] .fa-share-alt:before {
  content: "\F1E0";
}

[dir="rtl"] .fa-share-alt-square:before {
  content: "\F1E1";
}

[dir="rtl"] .fa-share-square:before {
  content: "\F14D";
}

[dir="rtl"] .fa-shekel-sign:before {
  content: "\F20B";
}

[dir="rtl"] .fa-shield-alt:before {
  content: "\F3ED";
}

[dir="rtl"] .fa-ship:before {
  content: "\F21A";
}

[dir="rtl"] .fa-shipping-fast:before {
  content: "\F48B";
}

[dir="rtl"] .fa-shirtsinbulk:before {
  content: "\F214";
}

[dir="rtl"] .fa-shoe-prints:before {
  content: "\F54B";
}

[dir="rtl"] .fa-shopify:before {
  content: "\F957";
}

[dir="rtl"] .fa-shopping-bag:before {
  content: "\F290";
}

[dir="rtl"] .fa-shopping-basket:before {
  content: "\F291";
}

[dir="rtl"] .fa-shopping-cart:before {
  content: "\F07A";
}

[dir="rtl"] .fa-shopware:before {
  content: "\F5B5";
}

[dir="rtl"] .fa-shower:before {
  content: "\F2CC";
}

[dir="rtl"] .fa-shuttle-van:before {
  content: "\F5B6";
}

[dir="rtl"] .fa-sign:before {
  content: "\F4D9";
}

[dir="rtl"] .fa-sign-in-alt:before {
  content: "\F2F6";
}

[dir="rtl"] .fa-sign-language:before {
  content: "\F2A7";
}

[dir="rtl"] .fa-sign-out-alt:before {
  content: "\F2F5";
}

[dir="rtl"] .fa-signal:before {
  content: "\F012";
}

[dir="rtl"] .fa-signature:before {
  content: "\F5B7";
}

[dir="rtl"] .fa-sim-card:before {
  content: "\F7C4";
}

[dir="rtl"] .fa-simplybuilt:before {
  content: "\F215";
}

[dir="rtl"] .fa-sistrix:before {
  content: "\F3EE";
}

[dir="rtl"] .fa-sitemap:before {
  content: "\F0E8";
}

[dir="rtl"] .fa-sith:before {
  content: "\F512";
}

[dir="rtl"] .fa-skating:before {
  content: "\F7C5";
}

[dir="rtl"] .fa-sketch:before {
  content: "\F7C6";
}

[dir="rtl"] .fa-skiing:before {
  content: "\F7C9";
}

[dir="rtl"] .fa-skiing-nordic:before {
  content: "\F7CA";
}

[dir="rtl"] .fa-skull:before {
  content: "\F54C";
}

[dir="rtl"] .fa-skull-crossbones:before {
  content: "\F714";
}

[dir="rtl"] .fa-skyatlas:before {
  content: "\F216";
}

[dir="rtl"] .fa-skype:before {
  content: "\F17E";
}

[dir="rtl"] .fa-slack:before {
  content: "\F198";
}

[dir="rtl"] .fa-slack-hash:before {
  content: "\F3EF";
}

[dir="rtl"] .fa-slash:before {
  content: "\F715";
}

[dir="rtl"] .fa-sleigh:before {
  content: "\F7CC";
}

[dir="rtl"] .fa-sliders-h:before {
  content: "\F1DE";
}

[dir="rtl"] .fa-slideshare:before {
  content: "\F1E7";
}

[dir="rtl"] .fa-smile:before {
  content: "\F118";
}

[dir="rtl"] .fa-smile-beam:before {
  content: "\F5B8";
}

[dir="rtl"] .fa-smile-wink:before {
  content: "\F4DA";
}

[dir="rtl"] .fa-smog:before {
  content: "\F75F";
}

[dir="rtl"] .fa-smoking:before {
  content: "\F48D";
}

[dir="rtl"] .fa-smoking-ban:before {
  content: "\F54D";
}

[dir="rtl"] .fa-sms:before {
  content: "\F7CD";
}

[dir="rtl"] .fa-snapchat:before {
  content: "\F2AB";
}

[dir="rtl"] .fa-snapchat-ghost:before {
  content: "\F2AC";
}

[dir="rtl"] .fa-snapchat-square:before {
  content: "\F2AD";
}

[dir="rtl"] .fa-snowboarding:before {
  content: "\F7CE";
}

[dir="rtl"] .fa-snowflake:before {
  content: "\F2DC";
}

[dir="rtl"] .fa-snowman:before {
  content: "\F7D0";
}

[dir="rtl"] .fa-snowplow:before {
  content: "\F7D2";
}

[dir="rtl"] .fa-socks:before {
  content: "\F696";
}

[dir="rtl"] .fa-solar-panel:before {
  content: "\F5BA";
}

[dir="rtl"] .fa-sort:before {
  content: "\F0DC";
}

[dir="rtl"] .fa-sort-alpha-down:before {
  content: "\F15D";
}

[dir="rtl"] .fa-sort-alpha-down-alt:before {
  content: "\F881";
}

[dir="rtl"] .fa-sort-alpha-up:before {
  content: "\F15E";
}

[dir="rtl"] .fa-sort-alpha-up-alt:before {
  content: "\F882";
}

[dir="rtl"] .fa-sort-amount-down:before {
  content: "\F160";
}

[dir="rtl"] .fa-sort-amount-down-alt:before {
  content: "\F884";
}

[dir="rtl"] .fa-sort-amount-up:before {
  content: "\F161";
}

[dir="rtl"] .fa-sort-amount-up-alt:before {
  content: "\F885";
}

[dir="rtl"] .fa-sort-down:before {
  content: "\F0DD";
}

[dir="rtl"] .fa-sort-numeric-down:before {
  content: "\F162";
}

[dir="rtl"] .fa-sort-numeric-down-alt:before {
  content: "\F886";
}

[dir="rtl"] .fa-sort-numeric-up:before {
  content: "\F163";
}

[dir="rtl"] .fa-sort-numeric-up-alt:before {
  content: "\F887";
}

[dir="rtl"] .fa-sort-up:before {
  content: "\F0DE";
}

[dir="rtl"] .fa-soundcloud:before {
  content: "\F1BE";
}

[dir="rtl"] .fa-sourcetree:before {
  content: "\F7D3";
}

[dir="rtl"] .fa-spa:before {
  content: "\F5BB";
}

[dir="rtl"] .fa-space-shuttle:before {
  content: "\F197";
}

[dir="rtl"] .fa-speakap:before {
  content: "\F3F3";
}

[dir="rtl"] .fa-speaker-deck:before {
  content: "\F83C";
}

[dir="rtl"] .fa-spell-check:before {
  content: "\F891";
}

[dir="rtl"] .fa-spider:before {
  content: "\F717";
}

[dir="rtl"] .fa-spinner:before {
  content: "\F110";
}

[dir="rtl"] .fa-splotch:before {
  content: "\F5BC";
}

[dir="rtl"] .fa-spotify:before {
  content: "\F1BC";
}

[dir="rtl"] .fa-spray-can:before {
  content: "\F5BD";
}

[dir="rtl"] .fa-square:before {
  content: "\F0C8";
}

[dir="rtl"] .fa-square-full:before {
  content: "\F45C";
}

[dir="rtl"] .fa-square-root-alt:before {
  content: "\F698";
}

[dir="rtl"] .fa-squarespace:before {
  content: "\F5BE";
}

[dir="rtl"] .fa-stack-exchange:before {
  content: "\F18D";
}

[dir="rtl"] .fa-stack-overflow:before {
  content: "\F16C";
}

[dir="rtl"] .fa-stackpath:before {
  content: "\F842";
}

[dir="rtl"] .fa-stamp:before {
  content: "\F5BF";
}

[dir="rtl"] .fa-star:before {
  content: "\F005";
}

[dir="rtl"] .fa-star-and-crescent:before {
  content: "\F699";
}

[dir="rtl"] .fa-star-half:before {
  content: "\F089";
}

[dir="rtl"] .fa-star-half-alt:before {
  content: "\F5C0";
}

[dir="rtl"] .fa-star-of-david:before {
  content: "\F69A";
}

[dir="rtl"] .fa-star-of-life:before {
  content: "\F621";
}

[dir="rtl"] .fa-staylinked:before {
  content: "\F3F5";
}

[dir="rtl"] .fa-steam:before {
  content: "\F1B6";
}

[dir="rtl"] .fa-steam-square:before {
  content: "\F1B7";
}

[dir="rtl"] .fa-steam-symbol:before {
  content: "\F3F6";
}

[dir="rtl"] .fa-step-backward:before {
  content: "\F048";
}

[dir="rtl"] .fa-step-forward:before {
  content: "\F051";
}

[dir="rtl"] .fa-stethoscope:before {
  content: "\F0F1";
}

[dir="rtl"] .fa-sticker-mule:before {
  content: "\F3F7";
}

[dir="rtl"] .fa-sticky-note:before {
  content: "\F249";
}

[dir="rtl"] .fa-stop:before {
  content: "\F04D";
}

[dir="rtl"] .fa-stop-circle:before {
  content: "\F28D";
}

[dir="rtl"] .fa-stopwatch:before {
  content: "\F2F2";
}

[dir="rtl"] .fa-store:before {
  content: "\F54E";
}

[dir="rtl"] .fa-store-alt:before {
  content: "\F54F";
}

[dir="rtl"] .fa-strava:before {
  content: "\F428";
}

[dir="rtl"] .fa-stream:before {
  content: "\F550";
}

[dir="rtl"] .fa-street-view:before {
  content: "\F21D";
}

[dir="rtl"] .fa-strikethrough:before {
  content: "\F0CC";
}

[dir="rtl"] .fa-stripe:before {
  content: "\F429";
}

[dir="rtl"] .fa-stripe-s:before {
  content: "\F42A";
}

[dir="rtl"] .fa-stroopwafel:before {
  content: "\F551";
}

[dir="rtl"] .fa-studiovinari:before {
  content: "\F3F8";
}

[dir="rtl"] .fa-stumbleupon:before {
  content: "\F1A4";
}

[dir="rtl"] .fa-stumbleupon-circle:before {
  content: "\F1A3";
}

[dir="rtl"] .fa-subscript:before {
  content: "\F12C";
}

[dir="rtl"] .fa-subway:before {
  content: "\F239";
}

[dir="rtl"] .fa-suitcase:before {
  content: "\F0F2";
}

[dir="rtl"] .fa-suitcase-rolling:before {
  content: "\F5C1";
}

[dir="rtl"] .fa-sun:before {
  content: "\F185";
}

[dir="rtl"] .fa-superpowers:before {
  content: "\F2DD";
}

[dir="rtl"] .fa-superscript:before {
  content: "\F12B";
}

[dir="rtl"] .fa-supple:before {
  content: "\F3F9";
}

[dir="rtl"] .fa-surprise:before {
  content: "\F5C2";
}

[dir="rtl"] .fa-suse:before {
  content: "\F7D6";
}

[dir="rtl"] .fa-swatchbook:before {
  content: "\F5C3";
}

[dir="rtl"] .fa-swift:before {
  content: "\F8E1";
}

[dir="rtl"] .fa-swimmer:before {
  content: "\F5C4";
}

[dir="rtl"] .fa-swimming-pool:before {
  content: "\F5C5";
}

[dir="rtl"] .fa-symfony:before {
  content: "\F83D";
}

[dir="rtl"] .fa-synagogue:before {
  content: "\F69B";
}

[dir="rtl"] .fa-sync:before {
  content: "\F021";
}

[dir="rtl"] .fa-sync-alt:before {
  content: "\F2F1";
}

[dir="rtl"] .fa-syringe:before {
  content: "\F48E";
}

[dir="rtl"] .fa-table:before {
  content: "\F0CE";
}

[dir="rtl"] .fa-table-tennis:before {
  content: "\F45D";
}

[dir="rtl"] .fa-tablet:before {
  content: "\F10A";
}

[dir="rtl"] .fa-tablet-alt:before {
  content: "\F3FA";
}

[dir="rtl"] .fa-tablets:before {
  content: "\F490";
}

[dir="rtl"] .fa-tachometer-alt:before {
  content: "\F3FD";
}

[dir="rtl"] .fa-tag:before {
  content: "\F02B";
}

[dir="rtl"] .fa-tags:before {
  content: "\F02C";
}

[dir="rtl"] .fa-tape:before {
  content: "\F4DB";
}

[dir="rtl"] .fa-tasks:before {
  content: "\F0AE";
}

[dir="rtl"] .fa-taxi:before {
  content: "\F1BA";
}

[dir="rtl"] .fa-teamspeak:before {
  content: "\F4F9";
}

[dir="rtl"] .fa-teeth:before {
  content: "\F62E";
}

[dir="rtl"] .fa-teeth-open:before {
  content: "\F62F";
}

[dir="rtl"] .fa-telegram:before {
  content: "\F2C6";
}

[dir="rtl"] .fa-telegram-plane:before {
  content: "\F3FE";
}

[dir="rtl"] .fa-temperature-high:before {
  content: "\F769";
}

[dir="rtl"] .fa-temperature-low:before {
  content: "\F76B";
}

[dir="rtl"] .fa-tencent-weibo:before {
  content: "\F1D5";
}

[dir="rtl"] .fa-tenge:before {
  content: "\F7D7";
}

[dir="rtl"] .fa-terminal:before {
  content: "\F120";
}

[dir="rtl"] .fa-text-height:before {
  content: "\F034";
}

[dir="rtl"] .fa-text-width:before {
  content: "\F035";
}

[dir="rtl"] .fa-th:before {
  content: "\F00A";
}

[dir="rtl"] .fa-th-large:before {
  content: "\F009";
}

[dir="rtl"] .fa-th-list:before {
  content: "\F00B";
}

[dir="rtl"] .fa-the-red-yeti:before {
  content: "\F69D";
}

[dir="rtl"] .fa-theater-masks:before {
  content: "\F630";
}

[dir="rtl"] .fa-themeco:before {
  content: "\F5C6";
}

[dir="rtl"] .fa-themeisle:before {
  content: "\F2B2";
}

[dir="rtl"] .fa-thermometer:before {
  content: "\F491";
}

[dir="rtl"] .fa-thermometer-empty:before {
  content: "\F2CB";
}

[dir="rtl"] .fa-thermometer-full:before {
  content: "\F2C7";
}

[dir="rtl"] .fa-thermometer-half:before {
  content: "\F2C9";
}

[dir="rtl"] .fa-thermometer-quarter:before {
  content: "\F2CA";
}

[dir="rtl"] .fa-thermometer-three-quarters:before {
  content: "\F2C8";
}

[dir="rtl"] .fa-think-peaks:before {
  content: "\F731";
}

[dir="rtl"] .fa-thumbs-down:before {
  content: "\F165";
}

[dir="rtl"] .fa-thumbs-up:before {
  content: "\F164";
}

[dir="rtl"] .fa-thumbtack:before {
  content: "\F08D";
}

[dir="rtl"] .fa-ticket-alt:before {
  content: "\F3FF";
}

[dir="rtl"] .fa-times:before {
  content: "\F00D";
}

[dir="rtl"] .fa-times-circle:before {
  content: "\F057";
}

[dir="rtl"] .fa-tint:before {
  content: "\F043";
}

[dir="rtl"] .fa-tint-slash:before {
  content: "\F5C7";
}

[dir="rtl"] .fa-tired:before {
  content: "\F5C8";
}

[dir="rtl"] .fa-toggle-off:before {
  content: "\F204";
}

[dir="rtl"] .fa-toggle-on:before {
  content: "\F205";
}

[dir="rtl"] .fa-toilet:before {
  content: "\F7D8";
}

[dir="rtl"] .fa-toilet-paper:before {
  content: "\F71E";
}

[dir="rtl"] .fa-toolbox:before {
  content: "\F552";
}

[dir="rtl"] .fa-tools:before {
  content: "\F7D9";
}

[dir="rtl"] .fa-tooth:before {
  content: "\F5C9";
}

[dir="rtl"] .fa-torah:before {
  content: "\F6A0";
}

[dir="rtl"] .fa-torii-gate:before {
  content: "\F6A1";
}

[dir="rtl"] .fa-tractor:before {
  content: "\F722";
}

[dir="rtl"] .fa-trade-federation:before {
  content: "\F513";
}

[dir="rtl"] .fa-trademark:before {
  content: "\F25C";
}

[dir="rtl"] .fa-traffic-light:before {
  content: "\F637";
}

[dir="rtl"] .fa-trailer:before {
  content: "\F941";
}

[dir="rtl"] .fa-train:before {
  content: "\F238";
}

[dir="rtl"] .fa-tram:before {
  content: "\F7DA";
}

[dir="rtl"] .fa-transgender:before {
  content: "\F224";
}

[dir="rtl"] .fa-transgender-alt:before {
  content: "\F225";
}

[dir="rtl"] .fa-trash:before {
  content: "\F1F8";
}

[dir="rtl"] .fa-trash-alt:before {
  content: "\F2ED";
}

[dir="rtl"] .fa-trash-restore:before {
  content: "\F829";
}

[dir="rtl"] .fa-trash-restore-alt:before {
  content: "\F82A";
}

[dir="rtl"] .fa-tree:before {
  content: "\F1BB";
}

[dir="rtl"] .fa-trello:before {
  content: "\F181";
}

[dir="rtl"] .fa-tripadvisor:before {
  content: "\F262";
}

[dir="rtl"] .fa-trophy:before {
  content: "\F091";
}

[dir="rtl"] .fa-truck:before {
  content: "\F0D1";
}

[dir="rtl"] .fa-truck-loading:before {
  content: "\F4DE";
}

[dir="rtl"] .fa-truck-monster:before {
  content: "\F63B";
}

[dir="rtl"] .fa-truck-moving:before {
  content: "\F4DF";
}

[dir="rtl"] .fa-truck-pickup:before {
  content: "\F63C";
}

[dir="rtl"] .fa-tshirt:before {
  content: "\F553";
}

[dir="rtl"] .fa-tty:before {
  content: "\F1E4";
}

[dir="rtl"] .fa-tumblr:before {
  content: "\F173";
}

[dir="rtl"] .fa-tumblr-square:before {
  content: "\F174";
}

[dir="rtl"] .fa-tv:before {
  content: "\F26C";
}

[dir="rtl"] .fa-twitch:before {
  content: "\F1E8";
}

[dir="rtl"] .fa-twitter:before {
  content: "\F099";
}

[dir="rtl"] .fa-twitter-square:before {
  content: "\F081";
}

[dir="rtl"] .fa-typo3:before {
  content: "\F42B";
}

[dir="rtl"] .fa-uber:before {
  content: "\F402";
}

[dir="rtl"] .fa-ubuntu:before {
  content: "\F7DF";
}

[dir="rtl"] .fa-uikit:before {
  content: "\F403";
}

[dir="rtl"] .fa-umbraco:before {
  content: "\F8E8";
}

[dir="rtl"] .fa-umbrella:before {
  content: "\F0E9";
}

[dir="rtl"] .fa-umbrella-beach:before {
  content: "\F5CA";
}

[dir="rtl"] .fa-underline:before {
  content: "\F0CD";
}

[dir="rtl"] .fa-undo:before {
  content: "\F0E2";
}

[dir="rtl"] .fa-undo-alt:before {
  content: "\F2EA";
}

[dir="rtl"] .fa-uniregistry:before {
  content: "\F404";
}

[dir="rtl"] .fa-unity:before {
  content: "\F949";
}

[dir="rtl"] .fa-universal-access:before {
  content: "\F29A";
}

[dir="rtl"] .fa-university:before {
  content: "\F19C";
}

[dir="rtl"] .fa-unlink:before {
  content: "\F127";
}

[dir="rtl"] .fa-unlock:before {
  content: "\F09C";
}

[dir="rtl"] .fa-unlock-alt:before {
  content: "\F13E";
}

[dir="rtl"] .fa-untappd:before {
  content: "\F405";
}

[dir="rtl"] .fa-upload:before {
  content: "\F093";
}

[dir="rtl"] .fa-ups:before {
  content: "\F7E0";
}

[dir="rtl"] .fa-usb:before {
  content: "\F287";
}

[dir="rtl"] .fa-user:before {
  content: "\F007";
}

[dir="rtl"] .fa-user-alt:before {
  content: "\F406";
}

[dir="rtl"] .fa-user-alt-slash:before {
  content: "\F4FA";
}

[dir="rtl"] .fa-user-astronaut:before {
  content: "\F4FB";
}

[dir="rtl"] .fa-user-check:before {
  content: "\F4FC";
}

[dir="rtl"] .fa-user-circle:before {
  content: "\F2BD";
}

[dir="rtl"] .fa-user-clock:before {
  content: "\F4FD";
}

[dir="rtl"] .fa-user-cog:before {
  content: "\F4FE";
}

[dir="rtl"] .fa-user-edit:before {
  content: "\F4FF";
}

[dir="rtl"] .fa-user-friends:before {
  content: "\F500";
}

[dir="rtl"] .fa-user-graduate:before {
  content: "\F501";
}

[dir="rtl"] .fa-user-injured:before {
  content: "\F728";
}

[dir="rtl"] .fa-user-lock:before {
  content: "\F502";
}

[dir="rtl"] .fa-user-md:before {
  content: "\F0F0";
}

[dir="rtl"] .fa-user-minus:before {
  content: "\F503";
}

[dir="rtl"] .fa-user-ninja:before {
  content: "\F504";
}

[dir="rtl"] .fa-user-nurse:before {
  content: "\F82F";
}

[dir="rtl"] .fa-user-plus:before {
  content: "\F234";
}

[dir="rtl"] .fa-user-secret:before {
  content: "\F21B";
}

[dir="rtl"] .fa-user-shield:before {
  content: "\F505";
}

[dir="rtl"] .fa-user-slash:before {
  content: "\F506";
}

[dir="rtl"] .fa-user-tag:before {
  content: "\F507";
}

[dir="rtl"] .fa-user-tie:before {
  content: "\F508";
}

[dir="rtl"] .fa-user-times:before {
  content: "\F235";
}

[dir="rtl"] .fa-users:before {
  content: "\F0C0";
}

[dir="rtl"] .fa-users-cog:before {
  content: "\F509";
}

[dir="rtl"] .fa-usps:before {
  content: "\F7E1";
}

[dir="rtl"] .fa-ussunnah:before {
  content: "\F407";
}

[dir="rtl"] .fa-utensil-spoon:before {
  content: "\F2E5";
}

[dir="rtl"] .fa-utensils:before {
  content: "\F2E7";
}

[dir="rtl"] .fa-vaadin:before {
  content: "\F408";
}

[dir="rtl"] .fa-vector-square:before {
  content: "\F5CB";
}

[dir="rtl"] .fa-venus:before {
  content: "\F221";
}

[dir="rtl"] .fa-venus-double:before {
  content: "\F226";
}

[dir="rtl"] .fa-venus-mars:before {
  content: "\F228";
}

[dir="rtl"] .fa-viacoin:before {
  content: "\F237";
}

[dir="rtl"] .fa-viadeo:before {
  content: "\F2A9";
}

[dir="rtl"] .fa-viadeo-square:before {
  content: "\F2AA";
}

[dir="rtl"] .fa-vial:before {
  content: "\F492";
}

[dir="rtl"] .fa-vials:before {
  content: "\F493";
}

[dir="rtl"] .fa-viber:before {
  content: "\F409";
}

[dir="rtl"] .fa-video:before {
  content: "\F03D";
}

[dir="rtl"] .fa-video-slash:before {
  content: "\F4E2";
}

[dir="rtl"] .fa-vihara:before {
  content: "\F6A7";
}

[dir="rtl"] .fa-vimeo:before {
  content: "\F40A";
}

[dir="rtl"] .fa-vimeo-square:before {
  content: "\F194";
}

[dir="rtl"] .fa-vimeo-v:before {
  content: "\F27D";
}

[dir="rtl"] .fa-vine:before {
  content: "\F1CA";
}

[dir="rtl"] .fa-vk:before {
  content: "\F189";
}

[dir="rtl"] .fa-vnv:before {
  content: "\F40B";
}

[dir="rtl"] .fa-voicemail:before {
  content: "\F897";
}

[dir="rtl"] .fa-volleyball-ball:before {
  content: "\F45F";
}

[dir="rtl"] .fa-volume-down:before {
  content: "\F027";
}

[dir="rtl"] .fa-volume-mute:before {
  content: "\F6A9";
}

[dir="rtl"] .fa-volume-off:before {
  content: "\F026";
}

[dir="rtl"] .fa-volume-up:before {
  content: "\F028";
}

[dir="rtl"] .fa-vote-yea:before {
  content: "\F772";
}

[dir="rtl"] .fa-vr-cardboard:before {
  content: "\F729";
}

[dir="rtl"] .fa-vuejs:before {
  content: "\F41F";
}

[dir="rtl"] .fa-walking:before {
  content: "\F554";
}

[dir="rtl"] .fa-wallet:before {
  content: "\F555";
}

[dir="rtl"] .fa-warehouse:before {
  content: "\F494";
}

[dir="rtl"] .fa-water:before {
  content: "\F773";
}

[dir="rtl"] .fa-wave-square:before {
  content: "\F83E";
}

[dir="rtl"] .fa-waze:before {
  content: "\F83F";
}

[dir="rtl"] .fa-weebly:before {
  content: "\F5CC";
}

[dir="rtl"] .fa-weibo:before {
  content: "\F18A";
}

[dir="rtl"] .fa-weight:before {
  content: "\F496";
}

[dir="rtl"] .fa-weight-hanging:before {
  content: "\F5CD";
}

[dir="rtl"] .fa-weixin:before {
  content: "\F1D7";
}

[dir="rtl"] .fa-whatsapp:before {
  content: "\F232";
}

[dir="rtl"] .fa-whatsapp-square:before {
  content: "\F40C";
}

[dir="rtl"] .fa-wheelchair:before {
  content: "\F193";
}

[dir="rtl"] .fa-whmcs:before {
  content: "\F40D";
}

[dir="rtl"] .fa-wifi:before {
  content: "\F1EB";
}

[dir="rtl"] .fa-wikipedia-w:before {
  content: "\F266";
}

[dir="rtl"] .fa-wind:before {
  content: "\F72E";
}

[dir="rtl"] .fa-window-close:before {
  content: "\F410";
}

[dir="rtl"] .fa-window-maximize:before {
  content: "\F2D0";
}

[dir="rtl"] .fa-window-minimize:before {
  content: "\F2D1";
}

[dir="rtl"] .fa-window-restore:before {
  content: "\F2D2";
}

[dir="rtl"] .fa-windows:before {
  content: "\F17A";
}

[dir="rtl"] .fa-wine-bottle:before {
  content: "\F72F";
}

[dir="rtl"] .fa-wine-glass:before {
  content: "\F4E3";
}

[dir="rtl"] .fa-wine-glass-alt:before {
  content: "\F5CE";
}

[dir="rtl"] .fa-wix:before {
  content: "\F5CF";
}

[dir="rtl"] .fa-wizards-of-the-coast:before {
  content: "\F730";
}

[dir="rtl"] .fa-wolf-pack-battalion:before {
  content: "\F514";
}

[dir="rtl"] .fa-won-sign:before {
  content: "\F159";
}

[dir="rtl"] .fa-wordpress:before {
  content: "\F19A";
}

[dir="rtl"] .fa-wordpress-simple:before {
  content: "\F411";
}

[dir="rtl"] .fa-wpbeginner:before {
  content: "\F297";
}

[dir="rtl"] .fa-wpexplorer:before {
  content: "\F2DE";
}

[dir="rtl"] .fa-wpforms:before {
  content: "\F298";
}

[dir="rtl"] .fa-wpressr:before {
  content: "\F3E4";
}

[dir="rtl"] .fa-wrench:before {
  content: "\F0AD";
}

[dir="rtl"] .fa-x-ray:before {
  content: "\F497";
}

[dir="rtl"] .fa-xbox:before {
  content: "\F412";
}

[dir="rtl"] .fa-xing:before {
  content: "\F168";
}

[dir="rtl"] .fa-xing-square:before {
  content: "\F169";
}

[dir="rtl"] .fa-y-combinator:before {
  content: "\F23B";
}

[dir="rtl"] .fa-yahoo:before {
  content: "\F19E";
}

[dir="rtl"] .fa-yammer:before {
  content: "\F840";
}

[dir="rtl"] .fa-yandex:before {
  content: "\F413";
}

[dir="rtl"] .fa-yandex-international:before {
  content: "\F414";
}

[dir="rtl"] .fa-yarn:before {
  content: "\F7E3";
}

[dir="rtl"] .fa-yelp:before {
  content: "\F1E9";
}

[dir="rtl"] .fa-yen-sign:before {
  content: "\F157";
}

[dir="rtl"] .fa-yin-yang:before {
  content: "\F6AD";
}

[dir="rtl"] .fa-yoast:before {
  content: "\F2B1";
}

[dir="rtl"] .fa-youtube:before {
  content: "\F167";
}

[dir="rtl"] .fa-youtube-square:before {
  content: "\F431";
}

[dir="rtl"] .fa-zhihu:before {
  content: "\F63F";
}

[dir="rtl"] .sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

[dir="rtl"] .sr-only-focusable:active,
[dir="rtl"] .sr-only-focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/*!
 * Font Awesome Free 5.12.1 by @fontawesome - https://fontawesome.com
 * License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License)
 */
@font-face {
  font-family: "Font Awesome 5 Brands";
  font-style: normal;
  font-weight: 400;
  font-display: auto;
  src: url("../fonts/fontawesome-free/fa-brands-400.eot");
  src: url("../fonts/fontawesome-free/fa-brands-400.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/fontawesome-free/fa-brands-400.woff2") format("woff2"),
    url("../fonts/fontawesome-free/fa-brands-400.woff") format("woff"),
    url("../fonts/fontawesome-free/fa-brands-400.ttf") format("truetype"),
    url("../fonts/fontawesome-free/fa-brands-400.svg#fontawesome") format("svg");
}
[dir="rtl"] .fab {
  font-family: "Font Awesome 5 Brands";
  font-weight: 400;
}

/*!
 * Font Awesome Free 5.12.1 by @fontawesome - https://fontawesome.com
 * License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License)
 */
@font-face {
  font-family: "Font Awesome 5 Free";
  font-style: normal;
  font-weight: 900;
  font-display: auto;
  src: url("../fonts/fontawesome-free/fa-solid-900.eot");
  src: url("../fonts/fontawesome-free/fa-solid-900.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/fontawesome-free/fa-solid-900.woff2") format("woff2"),
    url("../fonts/fontawesome-free/fa-solid-900.woff") format("woff"),
    url("../fonts/fontawesome-free/fa-solid-900.ttf") format("truetype"),
    url("../fonts/fontawesome-free/fa-solid-900.svg#fontawesome") format("svg");
}
[dir="rtl"] .fa,
[dir="rtl"] .fas {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
}

/*!
 * Font Awesome Free 5.12.1 by @fontawesome - https://fontawesome.com
 * License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License)
 */
@font-face {
  font-family: "Font Awesome 5 Free";
  font-style: normal;
  font-weight: 400;
  font-display: auto;
  src: url("../fonts/fontawesome-free/fa-regular-400.eot");
  src: url("../fonts/fontawesome-free/fa-regular-400.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/fontawesome-free/fa-regular-400.woff2") format("woff2"),
    url("../fonts/fontawesome-free/fa-regular-400.woff") format("woff"),
    url("../fonts/fontawesome-free/fa-regular-400.ttf") format("truetype"),
    url("../fonts/fontawesome-free/fa-regular-400.svg#fontawesome")
      format("svg");
}
[dir="rtl"] .far {
  font-family: "Font Awesome 5 Free";
  font-weight: 400;
}
