[dir="rtl"] .select2-selection__arrow {
  display: none;
}

[dir="rtl"] .select2.select2-container {
  width: 100% !important;
}

[dir="rtl"] .select2-results__options {
  margin: 0 !important;
}

[dir="rtl"]
  .select2-container--bootstrap4.select2-container--focus
  .select2-selection--multiple,
[dir="rtl"]
  .select2-container--bootstrap4
  .select2-search--dropdown
  .select2-search__field,
[dir="rtl"] .select2-container--bootstrap4 .select2-selection--multiple,
[dir="rtl"] .select2-container .select2-selection--single {
  font-size: 1rem;
  line-height: 1.5;
  display: block;
  width: 100%;
  height: calc(2.40625rem + 2px);
  padding: 0.5rem 0.75rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  color: #495057;
  border: 1px solid #efefef;
  border-radius: 0.25rem;
  background-color: #fff;
  background-clip: padding-box;
}

@media screen and (prefers-reduced-motion: reduce) {
  [dir="rtl"]
    .select2-container--bootstrap4.select2-container--focus
    .select2-selection--multiple,
  [dir="rtl"]
    .select2-container--bootstrap4
    .select2-search--dropdown
    .select2-search__field,
  [dir="rtl"] .select2-container--bootstrap4 .select2-selection--multiple,
  [dir="rtl"] .select2-container .select2-selection--single {
    transition: none;
  }
}
[dir="rtl"]
  .select2-container--bootstrap4.select2-container--focus
  .select2-selection--multiple::-ms-expand,
[dir="rtl"]
  .select2-container--bootstrap4
  .select2-search--dropdown
  .select2-search__field::-ms-expand,
[dir="rtl"]
  .select2-container--bootstrap4
  .select2-selection--multiple::-ms-expand,
[dir="rtl"] .select2-container .select2-selection--single::-ms-expand {
  border: 0;
  background-color: transparent;
}

[dir="rtl"]
  .select2-container--bootstrap4.select2-container--focus
  .select2-selection--multiple:focus,
[dir="rtl"]
  .select2-container--bootstrap4
  .select2-search--dropdown
  .select2-search__field:focus,
[dir="rtl"] .select2-container--bootstrap4 .select2-selection--multiple:focus,
[dir="rtl"] .select2-container .select2-selection--single:focus {
  color: #495057;
  border-color: #1377c9;
  outline: 0;
  background-color: #fff;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
    0 0 0 0.2rem rgba(19, 119, 201, 0.25);
}

[dir="rtl"]
  .select2-container--bootstrap4.select2-container--focus
  .select2-selection--multiple::-webkit-input-placeholder,
[dir="rtl"]
  .select2-container--bootstrap4
  .select2-search--dropdown
  .select2-search__field::-webkit-input-placeholder,
[dir="rtl"]
  .select2-container--bootstrap4
  .select2-selection--multiple::-webkit-input-placeholder,
[dir="rtl"]
  .select2-container
  .select2-selection--single::-webkit-input-placeholder {
  opacity: 1;
  color: rgba(0, 0, 0, 0.24);
}

[dir="rtl"]
  .select2-container--bootstrap4.select2-container--focus
  .select2-selection--multiple::-moz-placeholder,
[dir="rtl"]
  .select2-container--bootstrap4
  .select2-search--dropdown
  .select2-search__field::-moz-placeholder,
[dir="rtl"]
  .select2-container--bootstrap4
  .select2-selection--multiple::-moz-placeholder,
[dir="rtl"] .select2-container .select2-selection--single::-moz-placeholder {
  opacity: 1;
  color: rgba(0, 0, 0, 0.24);
}

[dir="rtl"]
  .select2-container--bootstrap4.select2-container--focus
  .select2-selection--multiple:-ms-input-placeholder,
[dir="rtl"]
  .select2-container--bootstrap4
  .select2-search--dropdown
  .select2-search__field:-ms-input-placeholder,
[dir="rtl"]
  .select2-container--bootstrap4
  .select2-selection--multiple:-ms-input-placeholder,
[dir="rtl"]
  .select2-container
  .select2-selection--single:-ms-input-placeholder {
  opacity: 1;
  color: rgba(0, 0, 0, 0.24);
}

[dir="rtl"]
  .select2-container--bootstrap4.select2-container--focus
  .select2-selection--multiple::-ms-input-placeholder,
[dir="rtl"]
  .select2-container--bootstrap4
  .select2-search--dropdown
  .select2-search__field::-ms-input-placeholder,
[dir="rtl"]
  .select2-container--bootstrap4
  .select2-selection--multiple::-ms-input-placeholder,
[dir="rtl"]
  .select2-container
  .select2-selection--single::-ms-input-placeholder {
  opacity: 1;
  color: rgba(0, 0, 0, 0.24);
}

[dir="rtl"]
  .select2-container--bootstrap4.select2-container--focus
  .select2-selection--multiple::placeholder,
[dir="rtl"]
  .select2-container--bootstrap4
  .select2-search--dropdown
  .select2-search__field::placeholder,
[dir="rtl"]
  .select2-container--bootstrap4
  .select2-selection--multiple::placeholder,
[dir="rtl"] .select2-container .select2-selection--single::placeholder {
  opacity: 1;
  color: rgba(0, 0, 0, 0.24);
}

[dir="rtl"]
  .select2-container--bootstrap4.select2-container--focus
  .select2-selection--multiple:disabled,
[dir="rtl"]
  .select2-container--bootstrap4.select2-container--focus
  .select2-selection--multiple[readonly],
[dir="rtl"]
  .select2-container--bootstrap4
  .select2-search--dropdown
  .select2-search__field:disabled,
[dir="rtl"]
  .select2-container--bootstrap4
  .select2-search--dropdown
  .select2-search__field[readonly],
[dir="rtl"]
  .select2-container--bootstrap4
  .select2-selection--multiple:disabled,
[dir="rtl"]
  .select2-container--bootstrap4
  .select2-selection--multiple[readonly],
[dir="rtl"] .select2-container .select2-selection--single:disabled,
[dir="rtl"] .select2-container .select2-selection--single[readonly] {
  opacity: 1;
  background-color: #e9ecef;
}

[dir="rtl"]
  .select2-container
  .select2-selection--single
  .select2-selection__rendered {
  overflow: inherit;
  padding: 0;
  white-space: inherit;
  text-overflow: inherit;
}

[dir="rtl"]
  .select2-container--bootstrap4
  .select2-selection--single
  .select2-selection__rendered {
  line-height: inherit;
  color: inherit;
}

[dir="rtl"] .select2-dropdown {
  padding: 0.5rem 0;
  border: 1px solid #efefef;
  background-color: #fff;
  border-radius: 5px;
}

[dir="rtl"] .select2-results__option {
  padding: 0.375rem 0.75rem;
  color: rgba(73, 80, 87, 0.54);
  background-color: transparent;
  display: flex;
  align-items: center;
}

[dir="rtl"] .select2-results__option:hover {
  color: #495057;
}

[dir="rtl"]
  .select2-container--bootstrap4
  .select2-results__option--highlighted[aria-selected],
[dir="rtl"]
  .select2-container--bootstrap4
  .select2-results__option[aria-selected="true"] {
  color: #495057;
  background-color: transparent;
  font-weight: 600;
}

[dir="rtl"]
  .select2-container--bootstrap4
  .select2-results__option[aria-disabled="true"] {
  color: #95aac9;
}

[dir="rtl"]
  .select2-container--bootstrap4.select2-container--focus
  .select2-selection--multiple,
[dir="rtl"] .select2-container--bootstrap4 .select2-selection--multiple {
  height: auto;
  min-height: calc(2.40625rem + 2px);
}

[dir="rtl"]
  .select2-container--bootstrap4
  .select2-selection--multiple
  .select2-selection__rendered {
  display: block;
  margin: 0 -0.25rem -0.25rem 0;
  padding: 0;
}

[dir="rtl"]
  .select2-container--bootstrap4
  .select2-selection--multiple
  .select2-selection__choice {
  font-size: 0.8125rem;
  line-height: 1.40625rem;
  display: inline-flex;
  margin: 0 0.25rem 0.25rem 0;
  padding: 0 0.5rem;
  color: #495057;
  border: none;
  border-radius: 0.2rem;
  background-color: #f9f9f9;
}

[dir="rtl"]
  .select2-container--bootstrap4
  .select2-selection--multiple
  .select2-selection__choice__remove {
  margin-right: 0.5rem;
  color: rgba(73, 80, 87, 0.54);
  order: 2;
}

[dir="rtl"]
  .select2-container--bootstrap4
  .select2-selection--multiple
  .select2-selection__choice__remove:hover {
  color: #495057;
}

[dir="rtl"] .select2-search--dropdown {
  padding: 0.375rem 0.75rem;
}

[dir="rtl"]
  .form-control-sm
  + .select2-container--bootstrap4.select2-container--focus
  .select2-selection--multiple,
[dir="rtl"]
  .form-control-sm
  + .select2-container--bootstrap4
  .select2-selection--multiple,
[dir="rtl"] .form-control-sm + .select2-container .select2-selection--single,
[dir="rtl"]
  .select2-container--bootstrap4
  .select2-search--dropdown
  .select2-search__field {
  font-size: 0.8125rem;
  line-height: 1.75;
  height: calc(1.67188rem + 2px);
  padding: 0.125rem 0.5rem;
  border-radius: 0.25rem;
}

[dir="rtl"]
  .form-control-sm
  + .select2-container--bootstrap4.select2-container--focus
  .select2-selection--multiple,
[dir="rtl"]
  .form-control-sm
  + .select2-container--bootstrap4
  .select2-selection--multiple {
  min-height: calc(1.67188rem + 2px);
}

[dir="rtl"]
  .form-control-sm
  + .select2-container--bootstrap4
  .select2-selection--multiple
  .select2-selection__choice {
  line-height: 1.42188rem;
}

[dir="rtl"]
  .form-control-lg
  + .select2-container--bootstrap4.select2-container--focus
  .select2-selection--multiple,
[dir="rtl"]
  .form-control-lg
  + .select2-container--bootstrap4
  .select2-selection--multiple,
[dir="rtl"] .form-control-lg + .select2-container .select2-selection--single {
  font-size: 1.0625rem;
  line-height: 1.5;
  height: calc(2.59375rem + 2px);
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
}

[dir="rtl"]
  .form-control-lg
  + .select2-container--bootstrap4.select2-container--focus
  .select2-selection--multiple,
[dir="rtl"]
  .form-control-lg
  + .select2-container--bootstrap4
  .select2-selection--multiple {
  min-height: calc(2.59375rem + 2px);
}

[dir="rtl"]
  .form-control-lg
  + .select2-container--bootstrap4
  .select2-selection--multiple
  .select2-selection__choice {
  line-height: 1.59375rem;
}
